@charset "utf-8";

*{ 
	/*-webkit-user-select: none; /*禁止用户进行复制、选择*/
	box-sizing: border-box; /*设置元素的内边距和边框包括在总宽高内进行绘制计算*/
	outline: 0; /*移除当元素被点击后或获取到焦点时候出现的焦点虚线-轮廓线*/
	-webkit-tap-highlight-color: transparent; /*移除点击后出现的灰色背景*/
} 
input{ -webkit-user-select: text !important;}
img{
	display: block;
}	

/*让字体风格、大小、颜色继承其父元素并清空h1-h6的默认边距*/
h1, h2, h3, h4, h5, h6 {
	font-family: inherit; 
	font-weight: 400;
	color: inherit; 
	margin-top: 0; 
	margin-bottom: 0; 
}
.h1, h1 { font-size: 36px;}
.h2, h2 { font-size: 30px;}
.h3, h3 { font-size: 24px;}
.h4, h4 { font-size: 18px;}
.h5, h5 { font-size: 14px;}
.h6, h6 { font-size: 12px;}


/*移除默认下划线并且背景颜色设置为透明*/
a, a:visited {
	text-decoration: none;
	background-color: transparent;
}

/*移除输入框自动填充后出现的默认黄色背景*/
input:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0px 1000px white inset !important; 
} 

/*禁止手动调整编辑框调整的尺寸*/				                        
textarea { resize: none;}

/*禁止改变元素中字母的大小写*/
button, select { text-transform: none;}

/*移除type="number"的上下箭头（type="number"，规定只能输入阿拉伯数字）*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}
input{
	-webkit-appearance: none !important;
	-ms-appearance: none !important;
}
input::-webkit-search-cancel-button{ display: none;}
input::-ms-clear{display: none;}
input::-webkit-clear{display: none;}
input::clear{display: none;}

input::-ms-reveal{display: none;}
input::-webkit-reveal{display: none;}
input::reveal{display: none;}

/*隐藏滚动条*/
/*
::-webkit-scrollbar{ 
	width: 0; 
	height: 0;
}
*/

a, img { border: none;} /*移除默认的边框*/
input, fieldset { padding: 0;}
a, a:visited, a:hover, a:focus, a:active, samp, input, button, textarea, select, tt, code, kbd { color: inherit;} 
input{ line-height: normal;}
p, figure, dl, dd, input, button, input, optgroup, select, textarea { margin: 0;}
ul {
	margin-top: 0; 
	margin-bottom: 0; 
	padding-left: 0; 
	padding-right: 0;
	list-style-type: none; 
}
samp, input, button, textarea, select, tt, code, kbd, optgroup {
	font: inherit;
	font-size: inherit;
	color: inherit; 
}
/*/初始化*/

/*通用样式*/
body {
	min-width: 320px; /*设置页面最小宽度为320像素*/
	margin: 0 auto;
	font-family: '微软雅黑', 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
	line-height: 1; /*行高默认1倍*/
	font-size: 15px;
	margin: 0 auto;
	background-color: #FFF;
	position: relative;
	color: #000;
}
a:hover{
	color: #999A9C;
}

.padding-lr-10{
	padding: 0 10px;
}

/*字体大小*/
.font-size-0{ font-size: 0px;}
.font-size-12{ font-size: 12px;}
.font-size-13{ font-size: 13px;}
.font-size-14{ font-size: 14px;}
.font-size-15{ font-size: 15px;}
.font-size-16{ font-size: 16px;}
.font-size-17{ font-size: 17px;}
.font-size-18{ font-size: 18px;}
.font-size-19{ font-size: 19px;}
.font-size-20{ font-size: 20px;}
.font-size-21{ font-size: 21px;}
.font-size-22{ font-size: 22px;}
.font-size-23{ font-size: 23px;}
.font-size-24{ font-size: 24px;}
.font-size-25{ font-size: 25px;}
.font-size-26{ font-size: 26px;}
.font-size-27{ font-size: 27px;}
.font-size-28{ font-size: 28px;}
.font-size-29{ font-size: 29px;}
.font-size-30{ font-size: 30px;}
.font-size-31{ font-size: 31px;}
.font-size-32{ font-size: 32px;}
.font-size-33{ font-size: 33px;}
.font-size-34{ font-size: 34px;}
.font-size-35{ font-size: 35px;}
.font-size-36{ font-size: 36px;}
.font-size-48{ font-size: 48px;}

/*设置浮动*/
.float-left { float: left;} /*设置元素向左浮动*/
.float-right { float: right;} /*设置元素向右浮动*/


/*清除浮动*/
.clear-left { clear: left;} /*左侧不允许浮动元素*/
.clear-right { clear: right;} /*右侧不允许浮动元素*/
.clear-both { clear: both;} /*左右两侧均不允许浮动元素*/


/*其他*/
.overflow-hidden { overflow: hidden;} /*自动截取超出后的内容或区域*/
.visibility-hidden { visibility: hidden;} /*设置元素为不可见，但还是会占据原有位置*/
.visibility-visible { visibility: visible;} /*设置元素为可见*/
.display-block { display: block;} /*设置元素为块级并显示*/
.display-none { display: none;} /*设置元素为隐藏*/
.display-inline { display: inline;} /*设置元素为内联*/
.display-inline-block { display: inline-block;} /*设置元素为内联块级，元素会尽可能缩减占用空间*/
.text-align-center { text-align: center;} /*文本居中*/
.text-align-left { text-align: left;} /*文本左对齐*/
.text-align-right { text-align: right;} /*文本右对齐*/
.font-weight-bold { font-weight: bold;} /*字体加粗*/
.font-weight-normal { font-weight: normal;} /*字体不加粗*/
.cursor-pointer { cursor: pointer} /*当鼠标经过元素的时候出现手指形状*/
.text-decoration-underline{ text-decoration: underline;}

/*盒布局*/
.display-box {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -o-box !important;
	display: -ms-flexbox !important;
	display: box !important;
}
.display-box2 {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-flexbox;
	display: box;
}

/*垂直方向-居中对其*/
.box-align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	box-align: center;
}
.box-align-center>* {
	display: block;
}

/*垂直方向-顶部对齐*/
.box-align-start {
	-moz-box-align: start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-o-box-align: start;
	box-align: start;
}

/*垂直方向-底部对齐*/
.box-align-end {
	-moz-box-align: end;
	-webkit-box-align: end;
	-o-box-align: end;
	-ms-flex-align: end;
	box-align: end;
}

/*水平方向-居中对齐*/
.box-pack-center {
	-moz-box-pack: center;
	-webkit-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	box-pack: center;
}

/*水平方向-左则对齐*/
.box-pack-start {
	-moz-box-pack: start;
	-webkit-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	box-pack: start;
}

/*水平方向-右则对齐*/
.box-pack-end {
	-moz-box-pack: end;
	-webkit-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	box-pack: end;
}

/*设置元素为可伸缩*/
.box-flex {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-flex: 1;
	box-flex: 1;
}
.box-flex2 {
	-moz-box-flex: 0.1;
	-webkit-box-flex: 0.1;
	-o-box-flex: 0.1;
	-ms-flex: 0.1;
	box-flex: 0.1;
}

/*规定框中子元素的显示次序*/
.box-ordinal-group1 {
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-o-box-ordinal-group: 1;
	-ms-box-ordinal-group: 1;
	box-ordinal-group: 1;
}
.box-ordinal-group2 {
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	-o-box-ordinal-group: 2;
	-ms-box-ordinal-group: 2;
	box-ordinal-group: 2;
}
.box-ordinal-group3 {
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	-o-box-ordinal-group: 3;
	-ms-box-ordinal-group: 3;
	box-ordinal-group: 3;
}

/*改变元素的排列方向-纵向排列*/
.box-orient-vertical {
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
}
/*/盒布局*/


/*动画、过渡*/
.transition1 {
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

/*宽高计算*/
.width-calc1 {
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	width: -o-calc(100% - 40px);
	width: -ms-calc(100% - 40px);
	width: calc(100% - 40px);
}
.height-calc1 {
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: -o-calc(100% - 30px);
	height: -ms-calc(100% - 30px);
	height: calc(100% - 30px);
}

/*位置偏移*/
.transform1 {
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.transform2 {
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*设置元素为内联快级并垂直居中对齐*/
.vertical-align-middle {
	vertical-align: middle;
}
.display-inline-block-align {
	display-inline-block;
	vertical-align: middle;
}
.display-inline-block-align-q * {
	display-inline-block;
	vertical-align: middle;
}

/*改变placeholder输入框提示颜色*/
.placeholder-color1:-moz-placeholder {
	color: #CCCCCC;
}
.placeholder-color1::-moz-placeholder {
	color: #CCCCCC;
}
.placeholder-color1:-ms-input-placeholder {
	color: #CCCCCC;
}
.placeholder-color1::-webkit-input-placeholder {
	color: #CCCCCC;
}

/*/通用样式*/