<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/Public/<{$Think.MODULE_NAME}>/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/Public/css/bootstrap.min.css">
<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<title></title>
</head>

<body>
<div id="defaultdiv">
<!------------------------------------------------------------------------------------>
 
<!------------------------------------------------------------------------------------>
</div>

</body>
</html>
