<include file="Public/header"/>
<div class="row">
  <div class="col-sm-12">

      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa fa-warning"></i>欢迎您登陆：
        <!--<strong style="color:#036"><{$member
        .username}></strong>--><span style="color:#F30">
            <switch name="member['groupid']">
            <case value="1">总管理员</case>
            <case value="2">运营管理员</case>
			<case value="3">财务管理员</case>
            </switch>
        </span>
      </div>

  </div>
</div>

<div class="row zuy-nav">
  
  <div class="col-sm-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.allordersum}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">平台总入金(元)</h1>
        <i class="iconfont icon-cunqianguan" style="color: #fff1f3;"></i>
      </div>
    </div>
  </div>
    
    
  <div class="col-sm-4" >
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.allmemberprofit}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">商户总分成(元)</h1>
        <i class="iconfont icon-tuiguangzhuanqian" style="color: #fffbe8;"></i>
      </div>
    </div>
  </div>
    
  <div class="col-sm-4" >
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.allplatformincome}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">平台总分成(元)</h1>
        <i class="iconfont icon-iconfontjikediancanicon20" style="color: #f0faf8;"></i>
      </div>
    </div>
  </div>
 
  <div class="col-sm-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.todayordersum}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">今日平台总入金(元)</h1>
        <i class="iconfont icon-qianbao" style="color: #edf7fe;"></i>
      </div>
    </div>
  </div>
    
  <div class="col-sm-4" style="height: 140px">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.todaymemberprofit}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">今日商户总分成(元)</h1>
        <i class="iconfont icon-shourusel" style="color: #fff6f0;"></i>
      </div>
    </div>
  </div>
    
  <div class="col-sm-4" style="height: 140px">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><{$stat.todayplatformincome}></h5>
      </div>
      <div class="ibox-content" style="padding-top:0;height: 67px">
        <h1 class="no-margins">今日平台总分成(元)</h1>
        <i class="iconfont icon-shouru" style="color: #eff2fe;"></i>
      </div>
    </div>
  </div>
 
    

</div>
<!-- 全局js -->
<include file="Public/footer"/>
<script src="/Public/Front/js/echarts.common.min.js"></script>
<script>
    layui.use(['laypage', 'layer', 'form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
        });
    function reset_pwd(title,url,w,h){
      x_admin_show(title,url,w,h);
    }
</script>

</body>
</html>
