
<div class="menu_div">
   <a href="#" class="list-group-item text-center active" style="background-color:#01a9ef;">
    <strong><{:L("ADMIN_USERMANAGEMENT")}></strong>
  </a>
  <a href="<{:U("User/usercontrol")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong><{:L("ADMIN_YHGL_PUTONGSHANGHU")}></strong></a>
  <!--<a href="#" class="list-group-item text-center" target="ManagesContentIfram"><{:L("ADMIN_YHGL_PUTONGDAILISHANG")}></a>
  <a href="#" class="list-group-item text-center" target="ManagesContentIfram"><{:L("ADMIN_YHGL_DULIDAILISHANG")}></a>
  <a href="#" class="list-group-item text-center" target="ManagesContentIfram"><{:L("ADMIN_YHGL_ZHIGUANLIYUAN")}></a>
  <a href="#" class="list-group-item text-center" target="ManagesContentIfram"><{:L("ADMIN_YHGL_FENZHANGUANLIYUAN")}></a>-->
  <a href="<{:U("User/invitecode","r=16")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong><{:L("ADMIN_YHGL_YAOQINGMAGUANLI")}></strong></a>
</div>
