@charset "utf-8";
/* CSS Document */
 
.breadcrumb {
	font-size: 12px;
}

#PayaccessContent {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
}

.Payaccessdiv {
 
	height: auto;
	overflow: hidden;
	float:left;
 	margin-top: 20px;
}

.list-group{
	background-color: #FFF;
}
.list-group-item img {
	border: 1px solid #999;
	margin-left: 0px;
}

.breadcrumb {
	border-bottom: 1px solid #E4E4E4;
}

.form-control {
	color: #01a9ef;
	font-weight: bold;
}

.bankdiv {
	width: 150px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

.bankdiv img {
	width: 150px;
	height: 33px;
}

.tikuandiv {
	width: 150px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-left: 60px;
	margin-top: 15px;
}

.tikuandiv span {
	color: #06F;
}
.defaultclass .default_sz,.defaultclass .default_sz:hover {
    background: #f50f13 none repeat scroll 0 0;
    color: #fff;
}