<include file="Public/header"/>
        <div class="row">
            <div class="col-sm-12">
			<form class="layui-form" action="" id="form" autocomplete="off" >
				<input type="hidden" name="ids" value="<{$ids}>">
				<div class="layui-form-item" id="auth_google">
					<label class="layui-form-label">模板代码：</label>
					<div class="layui-input-inline">
						<input type="text" name="code" autocomplete="off"
							   placeholder="请输入模板代码" class="layui-input" value="">
					</div>
				</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
				  	<button class="layui-btn" lay-submit="submit" lay-filter="save">确定</button>
				</div>
			</div>
			</form>
            </div>
        </div>
<include file="Public/footer"/>
<script src="/Public/Front/js/Util.js" charset="utf-8"></script>
<script>
var issubmit=false;
layui.use(['layer', 'form','laydate'], function(){
  var form = layui.form
  ,laydate = layui.laydate
  ,layer = layui.layer;
  //监听提交
  form.on('submit(save)', function(data){
      layer.confirm('确认要批量设置模板代码吗？',{
          btn: ['确定','取消'] //按钮
      }, function(){
          $.ajax({
              url:"<{:U('System/smsTemplateCode')}>",
              type:"post",
              data:$('#form').serialize(),
              success:function(res){
                  if(res.status){
                      layer.alert(res.msg? res.msg :"设置成功！", {icon: 6},function () {
                          parent.location.reload();
                          var index = parent.layer.getFrameIndex(window.name);
                          parent.layer.close(index);
                      });
                  }else{
                      layer.alert(res.msg, {icon: 5},function (index) {
                          layer.close(index)
                      });
                  }
              }
          });
      }, function(){
      });
   	 return false;
  });
});
</script>
</body>
</html>
