<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>充值费率 - 聚合API支付系统 </title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css?v=1.2">
    <link rel="stylesheet" type="text/css" href="css/flow.css?v=1.1">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js" type="text/javascript"
            charset="utf-8"></script>
    <![endif]-->

</head>

<body>
<header>
    <div class="nav">
        <div class="logo">
            <a class="newlogo" href="index.html" target="_blank"><img src="https://baidu.com/public/image/zhiyu-logo.png" /> </a>

        </div>
        <div class="menu">
            <ul class="clearfix">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="bill.html">产品费率</a></li>
                <li><a href="faq.html">常见问题</a></li>
                <li><a href="download.html">接口对接文档下载</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
        <div class="info">
            <ul class="clearfix">

                <li class="account"><a href="login.html" target="_blank">商户中心</a></li>
                <li class="account"><a href="login.html" target="_blank">登录</a></li>
                <li class="account"><a href="login.html" target="_blank">注册</a></li>
                <li class="split">|</li>
                <li class="contact">
                    <span class="img"></span>
                    <a href="contact.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slideBox">
        <div class="hd">
            <ul>
                <!-- <li>1</li>
                <li>2</li> -->
            </ul>
        </div>
        <div class="bd">
            <ul>
                <li style="background:url(style/banner.jpg) center center no-repeat;">
                    <!-- <a href="https://www.juhe.cn" target="_blank"></a> -->
                </li>
            </ul>
        </div>
        <a class="prev" href="javascript:void(0)" target="_self">
            <span></span>
        </a>
        <a class="next" href="javascript:void(0)" target="_self">
            <span></span>
        </a>
    </div>
</header>
<section class="main">
    <div class="tab">
        <ul class="clearfix">
            <li class="active">接口报价</li>

        </ul>

    </div>
    <div class="document clearfix">
        <div class="document-container">
            <div class="pricing-list">

                <div class="" style="min-width:1100px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr><td>渠道名称<span>|</span></td>
                            <td>接入费<span>|</span></td>
                            <td>交易手续费<span>|</span></td>
                            <td>申请时间<span>|</span></td>
                            <td>资金到帐时间</td>
                        </tr></thead>
                        <tbody><tr>
                            <td>Apple Pay</td>
                            <td>免费</td>
                            <td class="left">实物类：0.7%每笔
                                <br>3C/数码/数娱：1.2%每笔
                            </td>
                            <td>7-15工作日</td>
                            <td>T+1</td>
                        </tr>
                        <tr>
                            <td>拉卡拉</td>
                            <td>免费</td>
                            <td class="left">实物类：0.6%每笔
                                <br>虚拟类：2%每笔
                            </td>
                            <td>1-3工作日</td>
                            <td>T+1</td>
                        </tr>
                        <tr>
                            <td>微信</td>
                            <td>300元/年</td>
                            <td class="left">实物类：0.6%每笔
                                <br>3C/数码/数娱：2%每笔
                            </td>
                            <td>3-7工作日</td>
                            <td>T+1</td>
                        </tr>
                        <tr>
                            <td>微信公众号</td>
                            <td>300元/年</td>
                            <td class="left">实物类：0.6%每笔
                                <br>3C/数码/数娱：2%每笔
                            </td>
                            <td>3-7工作日</td>
                            <td>T+1</td>
                        </tr>
                        <tr>
                            <td>支付宝</td>
                            <td>免费</td>
                            <td class="left">实物类：0.6%每笔
                                <br>3C/数码/数娱：1.2%每笔
                            </td>
                            <td>3-7工作日</td>
                            <td>T日</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>

    </div>

</section>
<footer>
    <div class="width850 clearfix">
        <dl>
            <dt>关于聚合</dt>
            <dd><a href="bill.html" target="_blank">费率报价</a></dd>
            <dd><a href="download.html" target="_blank">demo下载</a></dd>

        </dl>
        <dl>
            <dt>商户中心</dt>
            <dd><a href="login.html" target="_blank">商户中心</a></dd>
            <dd><a href="login.html" target="_blank">登录</a></dd>
            <dd><a href="reg.html" target="_blank">注册</a></dd>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dd class="focusus"></dd>
        </dl>
        <dl>
            <dt>服务&支持</dt>
            <dd><a href="faq.html" target="_blank">常见问题</a></dd>

        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd>企业QQ：8001234567</dd>
            <dd>info@baidu.com</dd>
            <dd><a href="login.html" target="_blank">登录</a></dd>
        </dl>
    </div>
    <p>Copyright © baidu.com, All Rights Reserved.
        <span style="margin-left: 15px;text-align: center">
        <a   style="display:inline-block;text-decoration:none;height:16px;line-height:30px;margin-top: 15px">
                    <img src="image/bei2.png" style="float:left;"/></a >
        </span>
        <span >
        <a  style="display:inline-block;text-decoration:none;height:16px;line-height:30px;margin-top: 15px">
                    <img src="image/bei1.png" style="float:left;"/>
           </a >
    </span>
        聚合支付  |  粤ICP备16052052号-4
    </p>
</footer>

<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript">
    $(".left-img").click(function () {
        $(".mask").fadeIn(100);
        $(".left-layer").show();
    })
    $(".right-img").click(function () {
        $(".mask").fadeIn(100);
        $(".right-layer").show();
    })
    $(".close").click(function () {
        $(this).parents(".left-layer,.right-layer").hide();
        $(".mask").fadeOut(100);
    })
    $(".tab ul").on('click', 'li', function () {
        var index = $(this).index();
        $(this).addClass("active");
        $(this).siblings().removeClass("active");
        if (index == 0) {
            $(".api").hide();
            $(".document").fadeIn();
        } else if (index == 1) {
            $(".document").hide();
            $(".api").fadeIn();
        }
    })
    $(".api-controller").on('click', 'li', function () {
        var index = $(this).index();
        $(this).addClass("active");
        $(this).siblings().removeClass("active");

        $(".api-item").hide();
        $(".api-item").eq(index).fadeIn();
    })
    $(".mask").on('click', function () {
        $(".left-layer,.right-layer").hide();
        $(this).fadeOut(100);
    })
</script>
</body>

</html>
