<footer class="width100">
    <div class="width1200 clearfix">
        <dl>
            <dt>
                关于聚合
            </dt>
          
            <dd>
                <a href="<{$demo}>" target="_blank">
                    demo下载
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                商户中心
            </dt>
            <dd>
                <a href="<{$user_login}>" target="_blank">
                    商户中心
                </a>
            </dd>
            <dd>
                <a href="<{$agent_login}>" target="_blank">
                    代理中心
                </a>
            </dd>
            <dd>
                <a href="<{$register}>" target="_blank">
                    用户注册
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                关注我们
            </dt>
            <dd class="focusus">
            </dd>
        </dl>
        <dl>
            <dt>
                服务&支持
            </dt>
            <dd>
                <a href="<{$faq}>" target="_blank">
                    常见问题
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                联系我们
            </dt>
            <dd>
                企业QQ：<{$siteconfig.qq}>
            </dd>
            <dd>
                <{$siteconfig.email}>
            </dd>
      
        </dl>
    </div>
    <p>
        Copyright © baidu.com, All Rights Reserved.
        <span style="margin-left: 15px;text-align: center">
            <a style="display:inline-block;text-decoration:none;height:16px;line-height:30px;margin-top: 15px">
                <img src="<{$style}>image/bei2.png" style="float:left;"/>
            </a>
        </span>
        <span>
            <a style="display:inline-block;text-decoration:none;height:16px;line-height:30px;margin-top: 15px">
                <img src="<{$style}>image/bei1.png" style="float:left;"/>
            </a>
        </span>
        <{$sitename}>  |  <{$siteconfig.icp}> 
    </p>
</footer>