        <div class="nav">
            <div class="logo">
                <a class="newlogo" href="index.html" target="_blank"><img style="width:100px;height:45px" src="<{$logo}>" /> </a>

            </div>
            <div class="menu">
                <ul class="clearfix">
                    <li class="active"><a href="index.html">首aaaaaaa页</a></li>
                    <!-- <li><a href="bill.html">产品费率</a></li> -->
                    <li><a href="<{$faq}>">常见问题</a></li>
                    <li><a href="<{$demo}>">接口对接文档下载</a></li>
                    <li><a href="<{$contact}>">联系我们</a></li>
                </ul>
            </div>
            <div class="info">
                <ul class="clearfix">

                    <li class="account"><a href="<{$user_login}>" target="_blank">商户中心</a></li>
                    <li class="account"><a href="<{$agent_login}>" target="_blank">代理中心</a></li>
                    <li class="account"><a href="<{$register}>" target="_blank">注册</a></li>
                    <li class="split">|</li>
                    <li class="contact">
                        <span class="img"></span>
                        <a href="<{$contact}>">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>