<!doctype html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="设置网站关键字">
		<meta name="description" content="设置页面的描述,建议在200字以内">
		<meta name="renderer" content="webkit">
		<meta name="wap-font-sca-le" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="<{$style}>css/zhicwl.css">
		<link rel="stylesheet" href="<{$style}>css/zhicwl-style.css">
		<script src="<{$style}>js/jquery-1.11.3.min.js"></script>
		
		<title><{$sitename}> - 专业支付技术服务商 - 让支付简单、专业、快捷！</title>

	</head> 

	<body>
                              
	<section class="zhicwl-header1">
		<div class="zhicwl-header1-div width-1150 display-box box-align-center">
			<div class="zhicwl-logo box-flex"><a href="index.html"><img src="<{$logo}>"></a></div>
			<div class="zhicwl-header-anv">
				<ul class="display-box box-align-center">
					<li class="on"><a href="###">首页</a></li>
					<li><a href="###">产品中心</a></li>
					<li><a href="###">开发者中心</a></li>
					<li><a href="###">业务登录</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div class="zhicwl-grem"><a href="###">立即注册</a></div>
	<section class="zhicwl-yczy">
		<div class="zhicwl-yczy-cen width-1150">
			<ul>
				<li>
					<div class="zhicwl-yczy-dsmr display-box box-align-center">
						<div class="zhicwl-yczy-left"><img src="<{$style}>images/img02.png"></div>
						<div class="zhicwl-yczy-right">
							<h4>码商平台</h4>
							<span>10分钟超快速响应</span>
						</div>
					</div>
				</li>
				<li>
					<div class="zhicwl-yczy-dsmr display-box box-align-center">
						<div class="zhicwl-yczy-left"><img src="<{$style}>images/img03.png"></div>
						<div class="zhicwl-yczy-right">
							<h4>用户平台</h4>
							<span>多机房异地容灾系统</span>
						</div>
					</div>
				</li>
				<li>
					<div class="zhicwl-yczy-dsmr display-box box-align-center">
						<div class="zhicwl-yczy-left"><img src="<{$style}>images/img04.png"></div>
						<div class="zhicwl-yczy-right">
							<h4>管理平台</h4>
							<span>多机房异地容灾系统</span>
						</div>
					</div>
				</li>
				<li>
					<div class="zhicwl-yczy-dsmr display-box box-align-center">
						<div class="zhicwl-yczy-left"><img src="<{$style}>images/img05.png"></div>
						<div class="zhicwl-yczy-right">
							<h4>代理平台</h4>
							<span>金融级安全防护标准</span>
						</div>
					</div>
				</li>				
			</ul>
		</div>
	</section>

	<section class="zhicwl-bsrl">
		<div class="zhicwl-bsrl-div width-1150">
			<div class="zhicwl-bsrl-tit">
				<h5>最专业的支付帮手</h5>
			</div>
			<div class="zhicwl-bsrl-jhun">
				<ul>
					<li>
						<div class="zhicwl-bsrl-pagou">
							<div class="zhicwl-pagou-left"><img src="<{$style}>images/img06.png"></div>
							<div class="zhicwl-pagou-right">
								<h4>手机APP支付</h4>
								<span>APP内实现收款</span>
							</div>
						</div>
					</li>
					<li>
						<div class="zhicwl-bsrl-pagou">
							<div class="zhicwl-pagou-left"><img src="<{$style}>images/img07.png"></div>
							<div class="zhicwl-pagou-right">
								<h4>手机网页支付</h4>
								<span>手机浏览器内实现收款</span>
							</div>
						</div>
					</li>	
					<li>
						<div class="zhicwl-bsrl-pagou">
							<div class="zhicwl-pagou-left"><img src="<{$style}>images/img08.png"></div>
							<div class="zhicwl-pagou-right">
								<h4>公众号支付</h4>
								<span>微信浏览器内实现收款</span>
							</div>
						</div>
					</li>		
					<li>
						<div class="zhicwl-bsrl-pagou">
							<div class="zhicwl-pagou-left"><img src="<{$style}>images/img09.png"></div>
							<div class="zhicwl-pagou-right">
								<h4>PC网页支付</h4>
								<span>PC浏览器内实现收款</span>
							</div>
						</div>
					</li>			
					<li>
						<div class="zhicwl-bsrl-pagou">
							<div class="zhicwl-pagou-left"><img src="<{$style}>images/img10.png"></div>
							<div class="zhicwl-pagou-right">
								<h4>线下扫码支付</h4>
								<span>扫描二维码实现收款</span>
							</div>
						</div>
					</li>						
				</ul>
			</div>
		</div>
	</section>
	
	<section class="zhicvwl-tshcb">
		<div class="zhicvwl-tshcb-div width-1150">
			<div class="zhicwl-bsrl-tit">
				<h5>产品与服务</h5>
			</div>	
			
			<div class="zhicwl-tshcb-avst">
				<ul>
					<li>
						<div class="zhicwl-avst-div">
							<div class="zhicwl-avst-left">
								<img src="<{$style}>images/img14.png">
								<img src="<{$style}>images/img14-1.png">
							</div>
							<div class="zhicwl-avst-right">
								<h5>财务对账</h5>
								<div class="zhicwl-avst-tit">相近的订单统计<br>企业收支一目了然</div>
							</div>
						</div>
					</li>
					<li>
						<div class="zhicwl-avst-div">
							<div class="zhicwl-avst-left">
								<img src="<{$style}>images/img15.png">
								<img src="<{$style}>images/img15-1.png">
							</div>
							<div class="zhicwl-avst-right">
								<h5>子商户系统</h5>
								<div class="zhicwl-avst-tit">添加子商户账号<br>为交易实现分账功能</div>
							</div>
						</div>
					</li>
					<li>
						<div class="zhicwl-avst-div">
							<div class="zhicwl-avst-left">
								<img src="<{$style}>images/img16.png">
								<img src="<{$style}>images/img16-1.png">
							</div>
							<div class="zhicwl-avst-right">
								<h5>接口申请</h5>
								<div class="zhicwl-avst-tit">全支付场景覆盖<br>主流支付接口支持</div>
							</div>
						</div>
					</li>
					<li>
						<div class="zhicwl-avst-div">
							<div class="zhicwl-avst-left">
								<img src="<{$style}>images/img17.png">
								<img src="<{$style}>images/img17-1.png">
							</div>
							<div class="zhicwl-avst-right">
								<h5>二维码支付</h5>
								<div class="zhicwl-avst-tit">专业收款工具<br>线下商户经营必备</div>
							</div>
						</div>
					</li>					
				</ul>
			</div>
		</div>
	</section>
	
	<section class="zhicwl-hreyb">
		<div class="zhicwl-hreyb-div width-1150">
			<div class="zhicwl-bsrl-tit">
				<h5>产品与服务</h5>
				<p>对接行业内最优质的多家支付接口。全力保障业务流畅。<br>让支付接口开发更加简单方便。</p>
			</div>	
			
			<div class="zhicwl-bsrl-kdbre">
				<ul>
					<li>
						<div class="zhicwl-kdbre">
							<div class="zhicwl-kdbre-img"><img src="<{$style}>images/img18.png"></div>
							<h6>支付宝支付</h6>
						</div>
					</li>
					<li>
						<div class="zhicwl-kdbre">
							<div class="zhicwl-kdbre-img"><img src="<{$style}>images/img19.png"></div>
							<h6>微信支付</h6>
						</div>
					</li>
					<li>
						<div class="zhicwl-kdbre">
							<div class="zhicwl-kdbre-img"><img src="<{$style}>images/img20.png"></div>
							<h6>QQ钱包</h6>
						</div>
					</li>
					<li>
						<div class="zhicwl-kdbre">
							<div class="zhicwl-kdbre-img"><img src="<{$style}>images/img21.png"></div>
							<h6>银联支付</h6>
						</div>
					</li>
					<li>
						<div class="zhicwl-kdbre">
							<div class="zhicwl-kdbre-img"><img src="<{$style}>images/img22.png"></div>
							<h6>京东支付</h6>
						</div>
					</li>		
					
					<div class="clear-both"></div>
				</ul>
			</div>
			
			<div class="zhicwl-hreyb-but"><a href="###">我要接入</a></div>
			
		</div>
	</section>
	
	<section class="zhicwl-qser">
		<div class="zhicwl-qser-div width-1150 display-box box-align-center">
			<div class="zhicwl-qser-zdilm display-box box-align-center">
				<div class="zhicwl-zdilm-left box-flex">
					<div class="zhicwl-zdilm-lsmtr">
						<h3>定制化支付解决方案</h3>
						<dl>
							<dt>支持不同业务场景的交易方式。</dt>
							<dt>免费在线一对一分析支付场景、梳理企业收款需 求，提出接入建议、定制支付解决方案。</dt>
						</dl>
						<div class="zhicwl-hreyb-but"><a href="###">详情咨询</a></div>
					</div>
				</div>
				<div><img src="<{$style}>images/img23.png"></div>
			</div>
		</div>
	</section>
	
	<section class="zhicwl-qser zhicwl-zposlm">
		<div class="zhicwl-qser-div width-1150 display-box box-align-center">
			<div class="zhicwl-qser-zdilm display-box box-align-center">
				<div><img src="<{$style}>images/img24.png"></div>
				<div class="zhicwl-zdilm-left box-flex">
					<div class="zhicwl-zdilm-lsmtr">
						<h3>专业的全流程服务</h3>
						<dl>
							<dt>支持个性化定制和私有化部署</dt>
							<dt>全程跟进定制化业务需求，可部署企业本地服务器，数据安全可控</dt>
							<dt>客户成功团队从接口联调、测试上线到后期系统运维、管理平台使用等各方向全面提供 7*10 小时服务</dt>
						</dl>
						<div class="zhicwl-hreyb-but"><a href="###">详情咨询</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="zhicwl-reatc">
		<div class="zhicwl-reatc-div width-1150">

			<div class="zhicwl-bsrl-tit">
				<h5>产品与服务</h5>
			</div>

			<div class="zhicwl-reatc-lisr">
				<ul>
					<li>
						<div><a href="###"><img src="<{$style}>images/img25.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img26.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img27.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img28.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img29.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img30.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img31.png"></a></div>
					</li>
					<li>
						<div><a href="###"><img src="<{$style}>images/img32.png"></a></div>
					</li>					
				</ul>
			</div>
		</div>
	</section>
	
	<div class="zhicwl-easre"><a href="###">开启支付新时代</a></div>
	
	<footer class="zhicwl-footer1">
		<div class="zhicwl-footer1-cen width-1150">
			
			<div class="zhicwl-footer1-sxzew">
				
				<div class="zhicwl-footer1-slist">
					<div class="zhicwl-footer1-toit">
						<h5><span>联系我们</span></h5>
						<a href="###">more</a>
					</div>
					<div class="zhicwl-losre"><a href="###"><img src="<{$style}>images/logo-2.png"></a></div>
				</div>
				<div class="zhicwl-footer1-slist">
					<div class="zhicwl-footer1-toit">
						<h5><span>产品服务</span></h5>
						<a href="###">more</a>
					</div>
					<div class="zhicwl-ksrbm">
						<ul>
							<li><a href="###">关于我们</a></li>
							<li><a href="###">借口合作</a></li>
							<li><a href="###">流量合作</a></li>
							<li><a href="###">SDK下载</a></li>
						</ul>
					</div>
				</div>
				<div class="zhicwl-footer1-slist">
					<div class="zhicwl-footer1-toit">
						<h5><span>关于我们</span></h5>
						<a href="###">more</a>
					</div>
					<div class="zhicwl-ksrbm">
						<ul>
							<li><a href="###">关于我们</a></li>
							<li><a href="###">借口合作</a></li>
							<li><a href="###">流量合作</a></li>
							<li><a href="###">SDK下载</a></li>
						</ul>
					</div>					
				</div>
				<div class="zhicwl-footer1-slist zhicwl-ewmfs">
					<div class="zhicwl-footer1-toit">
						<h5><span>手机关注我们</span></h5>
						<a href="###">more</a>
					</div>
					<div class="zhicwl-wema display-box box-align-center">
						<a href="###"><img src="<{$style}>images/ewm.png"></a>
						<div class="zhicwl-dmsnzt">
							扫描资讯<br>了解更多
						</div>
					</div>
					
				</div>				
			</div>
			
			<div class="zhicwl-xczltr">北京市公安局朝阳分局备案编号:110105000501Copyright © 2006-2016 ZCOOL</div>
			
		</div>
	</footer>
	
	<script src="<{$style}>js/zhicwl.js"></script>
<a href="http://webscan.360.cn/index/checkwebsite/url/www.cfepay.net"><img border="0" src="http://webscan.360.cn/status/pai/hash/52764af0c97589b42feb8f85c2caa81a"/></a>
	
	</body>
</html>









