<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=yes">
<link href="/favicon.ico" rel="shortcut icon"/>
<title>商户注册 - <{$sitename}> - 支付技术服务商，让支付简单、专业、快捷！</title>
<link rel="stylesheet" href="<{$style}>css/qietu.css">
<link rel="stylesheet" href="<{$style}>css/animate.min.css"/>
<link rel="stylesheet" href="<{$style}>css/iconfont.css">
<link rel="stylesheet" href="<{$style}>css/style.css">
<link rel="stylesheet" href="<{$style}>css/style_tr.css">
<link rel="stylesheet" href="<{$style}>css/responsive.css">
<script src="<{$siteurl}>Public/Front/login/js/modernizr-2.6.2.min.js"></script>
  <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>

    <style>
        .bj-3d7bf8{
            background: #3D7BF8;
        }
		#embed-captcha {

			margin: 0 auto;
		}
		.show {
			display: block;
		}
		.hide {
			display: none;
		}
		#notice {
			color: red;
		}
        .geetest_holder.geetest_wind{
             width: 100% !important;
        }
    </style>
</head>

<body>
<div class="header  bj-3d7bf8">
    <div class="wrapper">
        <div class="logo">
            <a href="index.html"><img src="<{$logo}>"/></a>
        </div>
        <div class="nav-wrap">
            <div class="nav">
                <ul>
                    <li class="home_index">
                       <strong><a href="/">首页 </a></strong>
                    </li>
                    <li>
                        <strong><a href="#">产品中心<i class="iconfont icon-jiantou8"></i></a></strong>
                        <dl>
                            <dd><a href="<{$products}>#pro1">聚合收款</a></dd>
                            <dd><a href="<{$products}>#pro2">子商户系统</a></dd>
                            <dd><a href="<{$products}>#pro3">代付系统</a></dd>
                            <dd><a href="<{$products}>#pro4">二维码支付</a></dd>
                        </dl>
                    </li>
                    <!-- <li>
                        <strong><a href="/home/index/help.html">帮助中心</a></strong>
                    </li> -->
                    <li >
                        <strong><a href="#">开发者中心<i class="iconfont icon-jiantou8"></i></a></strong>
                        <dl>
                           <dd><a href="/demo">DEMO体验</a></dd>
                            <dd><a href="<{$document}>">API开发文档</a></dd>
                            <dd><a href="<{$sdk}>">SDK下载</a></dd>
                        </dl>
                    </li>
                    <!---->
                 <li>
                        <strong><a href="#">业务登陆<i class="iconfont icon-jiantou8"></i></a></strong>
                        <dl>
                           <dd><a href="<{$user_login}>">商户登录</a></dd>
                            <dd><a href="<{$agent_login}>">代理登陆</a></dd>
                            <dd><a href="<{$code_login}>">码商登陆</a></dd>
                        </dl>

                   </li>
                </ul>
            </div>
            <div class="btns">
                <ul>       
                 
                        <li class=" reg"><a href="<{$register}>">商户注册</a></li>
                                    </ul>
            </div>
        </div>
        <div class="gh"><a href="#"></a></div>
    </div>
</div>
<div class=" login2">
	<div class="login-wp">
		<div class="login-hd">
			<h2>商户注册</h2>
		</div>
		<div class="login-bd">
			 <form action="<{$register_checkRegister}>" class="formLogin" method="post" id="defaultForm" >
			<ul>
				<li>
					<input type="text" class="txt" name="username" id="username" maxlength="30" placeholder="请输入帐号" aria-required="true" autocomplete="off" />
				</li>
				<li>
					<input type="password" class="txt" name="password" id="password" placeholder="请输入密码" aria-required="true" autocomplete="off"/>
				</li>
              
              <li>
					<input type="password" class="txt" name="password" id="confirmpassword" placeholder="请再次输入密码" aria-required="true" autocomplete="off"/>
				</li>
                 <li>
					<input type="text" class="txt" name="email" id="email" placeholder="请输入您的Email地址" aria-required="true" autocomplete="off"/>
				</li>
              
                <if condition="$siteconfig['invitecode'] eq 1">
                                <li>
                             <input type="text" class="txt" id="invitecode" name="invitecode" placeholder="必须有邀请码才能注册" value="">
                     </li>
                    </if>
              
				<!--<li>
					<input type="text" class="txt-code" name="varification"  maxlength="5" id="secondCode" placeholder="图形验证码" />
                  <img src="<{$verifycode}>" style="max-width: 134px;" onclick="this.src='/agent_Login_verifycode.html?d='+Math.random();" />
				</li> -->
				
			</ul>
			
			<div class="login-btn">
				<input type="button" class="btn"  id="regBtn"  value="注册" />
			</div>
              </form>
			<div class="login-ft">
				已有账号？点这里--><a href="<{$user_login}>">登录</a>
			</div>
		</div>
	</div>
</div>
<div class="footer">
    <div class="wrapper">
        <dl class="s">
            <dt>联系我们</dt>
            <dd><a href="/home/index/about.html#about2">联系方式</a></dd>
            <dd><img src="<{$logo}>" style="width: 120px" /></dd>
        </dl>
        <dl>
            <dt>产品项目</dt>
        <dd><a href="<{$products}>#pro1">聚合收款</a></dd>
            <dd><a href="<{$products}>#pro2">子商户系统</a></dd>
            <dd><a href="<{$products}>#pro3">代付系统</a></dd>
        </dl>
        <dl>
            <dt>关于公司</dt>
            <dd><a href="<{$about}>">关于我们</a></dd>
            <dd><a href="javascript:openKefuLink();">接口合作</a></dd>
            <dd><a href="javascript:openKefuLink();">流量合作</a></dd>
        </dl>
        <dl>
            <dt>开发者</dt>
            <dd><a href="/demo">DEMO体验</a></dd>
            <dd><a href="<{$document}>">API开发文档</a></dd>
            <dd><a href="<{$sdk}>">SDK下载</a></dd>
        </dl>
        <dl class="s">
            <dt>扫一扫</dt>
            <dd><img src="<{$style}>picture/mobile.png" style="width: 109px;"/></dd>
        </dl>
    </div>
</div>
<div class="copyright">
    <div class="wrapper">
        Copyright © 2018 <{$sitename}> All rights reserved. 版权所有
    </div>
</div>

<script type="text/javascript">
function openKefuLink()
{
window.open("http://wpa.qq.com/msgrd?v=3&uin=<{$qq}>&site=qq&menu=yes",'_blank');
}

</script>
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="Public/New/plugins/vendors/jquery/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="Public/New/plugins/vendors/bootstrap/js/popper.min.js"></script>
<script src="Public/New/plugins/vendors/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="Public/New/plugins/vendors/ps/perfect-scrollbar.jquery.min.js"></script>
<!--Menu sidebar -->
<script src="Public/New/assets/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="Public/New/assets/js/custom.min.js"></script>
<script src="Public/Front/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
    function checkEmail(email){
        var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;

        if(myReg.test(email)){
            return true;
        }else{

            return false;
        }
    }
    layui.use(['laydate', 'form', 'layer', 'table', 'element'], function() {
        layer = layui.layer; //弹层
        $("#regBtn").click(function () {
            var username = $.trim($("#username").val());
            var password =$.trim($("#password").val());
            var confirmpassword =$.trim($("#confirmpassword").val());
            var email = $.trim($("#email").val());
            var invitecode = $.trim($("#invitecode").val());

            if (username.length < 1) {
                layer.msg('请输入正确格式的用户名');
                return false;

            }
            else if (password.length < 6) {
                layer.msg('请输入正确格式的密码');
                return false;

            }
            else if (email==''||!checkEmail(email)) {
                layer.msg('请输入正确的邮箱');
                return false;
            }
            else if (password!=confirmpassword) {
                layer.msg('两次密码输入不一致');
                return false;

            }
        
            if(invitecode!='')
            {
                var checkinvitecode=true;
                $.ajax({
                    type:'post',
                    async:false,
                    url:'user_Login_checkinvitecode.html',
                    data: { invitecode: invitecode},
                    dataType:'json',
                    success:function(result){
                        checkinvitecode=result['valid'];
                    }
                })
                if(checkinvitecode==false)
                {
                    layer.msg('激活码不正确');
                    return false;
                }
            }

            $.ajax({
                type:'post',
                url:'<{$register_checkRegister}>',
                data: { username: username, password: password, confirmpassword: confirmpassword,email:email,invitecode:invitecode},
                dataType:'json',
                success:function(result){
                    if(result['errorno'] == 0){

                        if(result['need_activate'] == 1) {
                            var TipsContent="<div style='padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;'>" +
                                "<h3>恭喜您，注册成功！</h3>" +
                                "<p>我们已发送了一封验证邮件到 <strong>"+result['msg']['email']+"</strong>, 请注意查收您的邮箱，点击其中的链接激活您的账号！</p>" +
                                "<p>如果您未收到验证邮件，请联系管理员重新发送验证邮件或手动帮您激活账号。</p>"
                            "<br/><br/><a href='user_Login_index.html' style='color:#fff'>点击这里登录</a></div>";

                            layer.open({
                                type: 1,
                                title:'注册成功',
                                skin: 'layui-layer-rim', //加上边框
                                area: ['500px', '350px'], //宽高
                                content: TipsContent,
                                end: function () {
                                    setTimeout(function () {
                                        layer.msg('正在为您跳转到登录页面...');
                                        setTimeout(function() {
                                            window.location.href = "<{$siteurl}>" + "Home_Index_userLogin.html";
                                        },3000 );

                                    },2000);
                                }
                            });
                        } else {
                            layer.msg('注册成功！正在为您跳转到登录页面...');
                            setTimeout(function() {
                                window.location.href = "<{$siteurl}>" + "Home_Index_userLogin.html";
                            },3000 );
                        }
                    }else{
                        layer.msg(result['msg']);
                    }
                }
            })
        })
        $(document).keyup(function(event){
            if(event.keyCode ==13){
                $("#regBtn").trigger("click");
            }
        });
    });
</script>

</body>
</html>

