<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	 <link href="favicon.ico" rel="shortcut icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>在线体验-<{$sitename}></title>
    <link rel="stylesheet" href="<{$style}>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<{$style}>/css/reset.css">
    <link rel="stylesheet" href="<{$style}>/css/common.css">
    <link rel="stylesheet" href="<{$style}>/css/friendlyprompt.css">
    <script src="<{$style}>/js/friendlyprompt.js"></script>
    <script src="<{$style}>/js/jquery.min.js"></script>
    <script src='<{$style}>/js/bootstrap.min.js'></script>
    <script src='<{$style}>/js/public.js'></script>

    <link rel="stylesheet" href="<{$style}>/css/head_footer.css">

    <link rel="stylesheet" href="<{$style}>/css/tiyanzhongxin.css">
    <link rel="stylesheet" href="<{$style}>/css/consulting.css">
    <script src='<{$style}>/js/main.js'></script>
    <script src='<{$style}>/js/proconsulting.js'></script>
    

    
</head>
<body>
<include file="header"/>

<!--中间内容start-->
<div class="newmianboady" style="">

    <script>
        $("a:contains(产品体验)").css('color', '#f45153');
    </script>
    <style>
        .sub-nav a {
            color: #454545;
        }

        .sub-nav a.trench {
            color: #999;
        }

        @media screen and (min-width: 992px) {
            .ymm-tiyan-title {
                height: 230px;
                line-height: 230px;
                font-size: 30px;
            }
        }

        @media screen and (max-width: 991px) {
            .ymm-tiyan-title {
                height: 150px;
                line-height: 150px;
                font-size: 18px;
            }
        }

        @media (min-width: 768px) {
            .footer-nav li a {
                font-size: 13px;
                color: #b3b5ba;
                padding: 0 15px;
                height: 16px;
                cursor: inherit;
                display: inline;
            }

        }

        .zz-content-800 {
            width: 800px;
            margin: 0 auto;
            padding: 0 30px;
        }

        .zz-banner-name {
            /*width: 30%;*/
            float: left;
            height: 230px;
            line-height: 230px;
            font-size: 30px;
            text-align: right;
        }

        .zz-banner-img {
            /*width: 70%;*/
            float: right;

        }

        .zz-banner-img img {
            display: block;
            vertical-align: middle;
            width: 380.5px;

            margin: 34.5px auto 0;
        }

        .zz-cs-table {
            width: 100%;
            height: 62px;
            background: #f8f8f8;
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
        }

        .zz-cs-table .zz-detailInfoT {
            width: 272px;
            margin: 0 auto;

        }

        .zz-cs-table .zz-detailInfoT li {
            font-size: 16px;
            float: left;
            color: #666;
            height: 62px;
            line-height: 62px;
            cursor: pointer;

        }

        .zz-table-ml {
            margin-right: 150px;
        }

        .zz-cs-table .zz-detailInfoT .zz-cur {
            font-weight: 500;
            color: #333;
        }

        @media screen and (max-width: 768px) {
            .zz-content-800 {
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .zz-banner-name {
                float: none;
                width: 100%;
                height: 93px;
                line-height: 25px;
                padding: 28px 0 40px;
                font-size: 25px;
                text-align: center;
            }

            .zz-banner-img {
                width: 100%;
                float: none;

                padding: 0 15px 29px;

            }

            .zz-banner-img img {
                display: block;
                vertical-align: middle;
                width: 380.5px;

                margin: 0 auto 0;
            }

            .zz-cs-table .zz-detailInfoT li {

                height: 56px;
                line-height: 56px;
            }

            .zz-cs-table {
                height: 56px;
            }

        }

        @media screen and (max-width: 380.5px) {
            .zz-banner-img img {
                width: 100%;
            }
        }


    </style>

    <div class="container-fluid">
        <!--row  start-->
        <div class="row">
            <!--第一部分 背景-->

            <!--第一部分内容start-->
            <div class="container">
                <div class="row">
                    <!--头部-->

                    <!--头部end-->

                    <div class="zz-content-800 clearfix">
                        <div class="zz-banner-name">
                            聚合付-体验
                        </div>
                        <div class="zz-banner-img">
                            <img src="<{$style}>/image/juhefutiyan.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--第一部分内容end-->


            <!--导航切换部分-->
            <div class="zz-cs-table">
                <div class="zz-detailInfo ymm-jg-title cs-jg-title cs-table">
                    <ul class="zz-detailInfoT">
                        <li data-index="0" class="zz-cur zz-yidongzhifu zz-table-ml"><span>移动支付</span></li>
                        <li data-index="1" class="zz-pcwangye"><span>PC网页</span></li>
                    </ul>
                </div>
            </div>


            <!--移动支付部分-->
            <div class="ymm-tab1-con">
                <div class="ymm-tab1-bg1" style="background:#fff">
                    <div class="container">
                        <div class="row">
                            <div class="ymm-tab1-con1">
                                <div class="ymm-yd-con1">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-0 col-xs-0 txt-c ymm-phone">
                                            <img src="<{$style}>/image/ymm-tiyan-phone1.png" class="ymm-phone1" alt="">
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12 txt-c">
                                            <div class="ymm-tiyan-txt">
                                                <p>手机App</p>
                                                <p>联动SDK支持Apple手机应用、Android手机应用</p>
                                                <p>联动聚合各大支付渠道原生及H5支付方式，快速流畅</p>
                                            </div>
                                            <div class="ymm-tiyan-kuang1">
                                                <p class="ymm-kuang-txt" style="background:#fff">可接入产品</p>
                                                <img src="<{$style}>/image/ymm-ty-zfb.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.1.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.3.png" alt="">

                                                <span class="ymm-go">
                    <img src="<{$style}>/image/ymm-tiyan-go.png" alt="">
                    <a class="ymm-strat-a kaishi">开始使用</a>
                  </span>
                                            </div>
                                            <div class="ymm-btn">
                                                <a href="#">开发文档></a>
                                                <a href="" data-toggle="modal" data-target="#myModal">点击体验></a>
                                            </div>
                                            <div class="ymm-a-tiyan">
                                                <a href="" data-toggle="modal" data-target="#myModal">点击体验></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ymm-tab1-bg2" style="background:#f4f9f9">
                    <div class="container">
                        <div class="row">
                            <div class="ymm-tab1-con1">
                                <div class="ymm-yd-con1">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-0 col-xs-0 txt-c ymm-phone ymm-phone-right ">
                                            <img src="<{$style}>/image/ymm-tiyan-phone2.png" class="ymm-phone2" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 txt-c">
                                            <div class="ymm-tiyan-txt">
                                                <p>移动网站</p>
                                                <p>联动H5版收银台支持各手机网站接入</p>
                                                <p>聚合主流渠道，新增渠道无需升级</p>
                                            </div>
                                            <div class="ymm-tiyan-kuang1">
                                                <p class="ymm-kuang-txt ymm-ku-txt2" style="background:#f4f9f9">
                                                    可接入产品</p>
                                                <img src="<{$style}>/image/ymm-ty-zfb.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.1.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.3.png" alt="">
                                                <span class="ymm-go">
                  <img src="<{$style}>/image/ymm-tiyan-go.png" alt="">
                  <a class="ymm-strat-a kaishi">开始使用</a>
                 </span>
                                            </div>
                                            <div class="ymm-btn">
                                                <a class="ymm-noopen" imgshow="1" href="javascript:void(0);">点击体验></a>
                                            </div>
                                            <div class="ymm-a-tiyan">
                                                <img src="" alt="" id="ECH5">
                                                <a class="ymm-noopen" imgshow="1" href="javascript:void(0);">点击体验></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ymm-tab1-bg3" style="background:#fff">
                    <div class="container">
                        <div class="row">
                            <div class="ymm-tab1-con1">
                                <div class="ymm-yd-con1">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-0 col-xs-0 txt-c ymm-phone">
                                            <img src="<{$style}>/image/ymm-tiyan-phone3.png" class="ymm-phone3" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 txt-c">
                                            <div class="ymm-tiyan-txt">
                                                <p>微信公众号</p>
                                                <p> 支持各微信服务号接入</p>
                                                <p> 微信公众账户仅限服务号接入，订阅号无法支持支付功能</p>
                                            </div>
                                            <div class="ymm-tiyan-kuang1 kuang2">
                                                <p class="ymm-kuang-txt ymm-ku-txt3" style="background:#fff">可接入产品</p>
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.1.png" alt="">
                                                <span class="ymm-go">
                      <img src="<{$style}>/image/ymm-tiyan-go.png" alt="">
                      <a class="ymm-strat-a kaishi">开始使用</a>
                    </span>
                                            </div>
                                            <div class="ymm-btn">
                                                <a href="#">查看开发文档></a>
                                            </div>
                                            <div class="ymm-a-tiyan">
                                                <img src="" alt="" id="ECWH">
                                                <a class="ymm-noopen" imgshow="2">点击体验></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--pc网页部分-->
            <div class="ymm-tab2-con">
                <div class="ymm-tab1-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="ymm-tab1-con1">
                                <div class="ymm-yd-con1">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12  col-md-offset-2 txt-c">
                                            <div class="ymm-tiyan-txt">
                                                <p>PC网站</p>
                                                <p>联动PC收银台支持各类电脑端网站收款业务</p>
                                                <p>支持商户API后端接口对接</p>
                                            </div>
                                            <div class=" txt-c ymm-phone ymm-pc-phone">
                                                <img src="<{$style}>/image/ymm-tiyan-pc0.png" class="ymm-phone4" alt="">
                                            </div>
                                            <div class="ymm-tiyan-kuang1 kuang2">
                                                <p class="ymm-kuang-txt ymm-ku-txt2">可接入产品</p>
                                                <img src="<{$style}>/image/ymm-tiyan-icon1.1.png" alt="">
                                                <img src="<{$style}>/image/ymm-ty-zfb.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icondg.png" alt="">
                                                <img src="<{$style}>/image/ymm-tiyan-icongr.png" alt="">
                                                <span class="ymm-go ymm-go-ph">
                    <img src="<{$style}>/image/ymm-tiyan-go.png" alt="">
                    <a class="ymm-strat-a kaishi">开始使用</a>
                  </span>
                                            </div>
                                            <div class="ymm-btn">
                                                <a href="#">查看开发文档></a>
                                            </div>
                                            <div class="ymm-a-tiyan">
                                                <a class="ymm-noopen" imgshow="3"
                                                   href="#">点击体验></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--row  end-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ymm-tytxt txt-c">
                        <p>手机APP体验</p>
                    </div>
                    <!--手机部分-->
                    <div class="part-right-img-content">
                        <div class="img-content-div">
                            <div id="first" class="mobild-slide-first-img">
                                <a id="paybtn" class="ymm-btn-pay" href="javascript:void(0)"></a>
                                <img id="wap" src="<{$style}>/image/syt-1.1.jpg" class="child-wap-mobile">
                            </div>
                            <div id="second" class="mobile-slide-imgdown">
                                <a id="second-close" class="second-closebtn" href="javascript:void(0)"></a>
                                <a id="second-card" class="second-cardbtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <a id="second-other" class="second-otherbtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <a id="second-alipay" class="second-alipaybtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <a id="second-wechat" class="second-wechatbtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <a id="second-gopay" class="second-gopaybtn" href="javascript:void(0)"></a>
                                <img id="wapUP" src="<{$style}>/image/ymm-syt01.png" class="child-wap-mobile">
                                <img class="payway-checked payradio" src="<{$style}>/image/ymm-tyicony.jpg" alt="">
                                <img class="payway-unchecked1 payradio" src="<{$style}>/image/ymm-tyiconn.jpg" alt="">
                                <img class="payway-unchecked2 payradio" src="<{$style}>/image/ymm-tyiconn.jpg" alt="">
                            </div>
                            <div id="third" class="mobile-slide-img">
                                <a id="third-back" class="third-backbtn" href="javascript:void(0)"></a>
                                <a id="third-pay" class="third-paybtn" href="javascript:void(0)"></a>
                                <img id="card1" src="<{$style}>/image/syt-a1.png" class="child-wap-mobile">
                            </div>
                            <div id="fourth" class="mobile-slide-img">
                                <a id="fourth-close" class="second-closebtn" href="javascript:void(0)"></a>
                                <a id="fourth-card" class="fourth-cardbtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <a id="fourth-other" class="fourth-otherbtn second-paywaybtn"
                                   href="javascript:void(0)"></a>
                                <img id="otherCard1" src="<{$style}>/image/syt-b1.png" class="child-wap-mobile">
                            </div>
                            <div id="fifth" class="mobile-slide-img">
                                <a id="fifth-back" class="third-backbtn" href="javascript:void(0)"></a>
                                <a id="fifth-pay" class="fifth-paybtn" href="javascript:void(0)"></a>
                                <img id="otherCard2" src="<{$style}>/image/syt-b2.png" class="child-wap-mobile">
                            </div>
                            <div id="sixth" class="mobile-slide-img">
                                <a id="sixth-back" class="third-backbtn" href="javascript:void(0)"></a>
                                <a id="sixth-pay" class="sixth-paybtn" href="javascript:void(0)"></a>
                                <img id="otherCard3" src="<{$style}>/image/syt-b3.png" class="child-wap-mobile">
                            </div>
                            <div id="seventh" class="mobile-slide-img">
                                <a id="seventh-back" class="third-backbtn" href="javascript:void(0)"></a>
                                <a id="seventh-pay" class="seventh-paybtn" href="javascript:void(0)"></a>
                                <img id="otherCard4" src="<{$style}>/image/syt-b4.png" class="child-wap-mobile">
                            </div>
                            <div id="eighth" class="mobile-slide-img">
                                <a id="eighth-back" class="eighth-backbtn" href="javascript:void(0)"></a>
                                <a id="eighth-pay" class="eighth-paybtn" href="javascript:void(0)"></a>
                                <img id="alipay1" src="<{$style}>/image/syt-c1.png" class="child-wap-mobile">
                            </div>
                            <div id="ninth" class="mobile-slide-img">
                                <a id="ninth-back" class="ninth-backbtn" href="javascript:void(0)"></a>
                                <a id="ninth-pay" class="ninth-paybtn" href="javascript:void(0)"></a>
                                <img id="wechat1" src="<{$style}>/image/syt-d1.png" class="child-wap-mobile">
                            </div>
                            <div id="tenth" class="mobile-slide-img">
                                <a id="tenth-back" class="tenth-backbtn" href="javascript:void(0)"></a>
                                <img id="wechat2" src="<{$style}>/image/syt-d2.png" class="child-wap-mobile">
                            </div>
                            <div id="eleventh" class="mobile-slide-img">
                                <a id="eleventh-back" class="third-backbtn" href="javascript:void(0)"></a>
                                <a id="eleventh-pay" class="eleventh-paybtn" href="javascript:void(0)"></a>
                                <img id="paysuccess " src="<{$style}>/image/syt-cg.png" class="child-wap-mobile">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!--暂未开放遮罩层start-->
<div class="ymm-not-opened" style="display:none">
    暂未开放
</div>
<!--暂未开放遮罩层end-->

<!--二维码start-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog2" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body txt-c">
            <p class="ymm-modal2-txt1">移动网站体验</p>
            <div class="ymm-div-code">
                <img class="ymm-code" src="" alt="" style="display: inline-block;">
            </div>
            <p class="ymm-prmopt">
                <span class="ymm-modal2-txt2">请使用微信扫码</span>
            </p>
        </div>
    </div>
</div>
<!--二维码end-->
<script>
    $().ready(function () {
//    tab切换
        //1
        if (1 == 1) {
            tiyan();
        } else {
            tiyan1()
        }
        $('.ymm-tiyan-tab dl').eq(0).bind('click', function () {
            tiyan()
        });
        $('.ymm-tiyan-tab dl').eq(1).bind('click', function () {
            tiyan1()
        });

        $(".zz-cs-table .zz-detailInfoT li").click(function () {
            var that = $(this);


            if (that.hasClass("zz-yidongzhifu")) {
                $(".zz-yidongzhifu").addClass("zz-cur");
                $(".zz-pcwangye").removeClass("zz-cur");
                $(".ymm-tab1-con").show();
                $(".ymm-tab2-con").hide();
            } else {
                $(".zz-yidongzhifu").removeClass("zz-cur");
                $(".zz-pcwangye").addClass("zz-cur");
                $(".ymm-tab1-con").hide();
                $(".ymm-tab2-con").show();
            }
        })

        function tiyan() {
            $('.ymm-tab1-con').show();
            $('.ymm-tab2-con').hide();
            $('.ymm-tab-dt1').css('backgroundImage', 'url(/images/ymm-tiyan-icon1.png)');
            $('.ymm-tab-dt2').css('backgroundImage', 'url(/images/ymm-tiyan-icon2.png)');
            $('.tabtxt').removeClass('ymm-tiyan-tabtxt');
            $('.tabtxt').eq(0).addClass('ymm-tiyan-tabtxt');
        }

        function tiyan1() {
            $('.ymm-tab2-con').show();
            $('.ymm-tab1-con').hide();
            $('.ymm-tab-dt1').css('backgroundImage', 'url(/<{$style}>/image/ymm-tiyan-icon10.png)');
            $('.ymm-tab-dt2').css('backgroundImage', 'url(/<{$style}>/image/ymm-tiyan-icon20.png)');
            $('.tabtxt').removeClass('ymm-tiyan-tabtxt');
            $('.tabtxt').eq(1).addClass('ymm-tiyan-tabtxt');
        }

        //体验弹窗动画
        var numpayWay = 1;

        function init() {
            $(".mobile-slide-img").each(function () {
                numpayWay = 1;
                $(this).css('left', '300px');
            });
        }

        $('#paybtn').click(function () {
            $('#wap').attr('src', '<{$style}>/image/ymm-ty00.png');
            $('#second').animate({'top': '0px'}, 250);
        });
        $('#second-close').click(function () {
            $('#second').animate({'top': '595px'}, 250);
        });
//    支付方式选择动画
//      银行卡支付
        $('#second-card').click(function () {
            numpayWay = 1;
            $('.payway-unchecked1').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-unchecked2').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-checked').attr('src', '<{$style}>/image/ymm-tyicony.jpg');
        });
//      支付宝支付
        $('#second-alipay').click(function () {
            numpayWay = 2;
            $('.payway-unchecked1').attr('src', '<{$style}>/image/ymm-tyicony.jpg');
            $('.payway-unchecked2').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-checked').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
        });
//      微信支付
        $('#second-wechat').click(function () {
            numpayWay = 3;
            $('.payway-unchecked2').attr('src', '<{$style}>/image/ymm-tyicony.jpg');
            $('.payway-unchecked1').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-checked').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
        });

//支付页面切换

//      其他银行卡支付
        $('#second-other').click(function () {
            $('#second').animate({'top': '595px'}, 310);
            $('#fourth').animate({'left': '0px'}, 310);
        });
//    其他银行卡关闭
        $('#fourth-close').click(function () {
            $('#second').animate({'top': '0px'}, 310);
            $('#fourth').animate({'left': '300px'}, 310);
        });
        //    选择已有银行卡
        $('#fourth-card').click(function () {
            numpayWay = 1;
            $('.payway-unchecked1').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-unchecked2').attr('src', '<{$style}>/image/ymm-tyiconn.jpg');
            $('.payway-checked').attr('src', '<{$style}>/image/ymm-tyicony.jpg');
            $('#second').animate({'top': '0px'}, 310);
            $('#fourth').animate({'left': '300px'}, 310);
        });
        //    选择其他银行卡
        $('#fourth-other').click(function () {
            $('#fifth').animate({'left': '0px'}, 310);
            $('#fourth').animate({'left': '-300px'}, 310);
        });
//    其他银行卡的支付和返回
        //    其他银行卡支付页面返回
        $('#fifth-back').click(function () {
            $('#fourth').animate({'left': '0px'}, 310);
            $('#fifth').animate({'left': '300px'}, 310);
        });
//    其他银行卡支付
        $('#fifth-pay').click(function () {
            $('#sixth').animate({'left': '0px'}, 310);
            $('#fifth').animate({'left': '-300px'}, 310);
        });
        //    其他银行卡支付页面上一步
        $('#sixth-back').click(function () {
            $('#fifth').animate({'left': '0px'}, 310);
            $('#sixth').animate({'left': '300px'}, 310);
        });
//    其他银行卡支付下一步
        $('#sixth-pay').click(function () {
            $('#seventh').animate({'left': '0px'}, 310);
            $('#sixth').animate({'left': '-300px'}, 310);
        });
        $('#seventh-back').click(function () {
            $('#sixth').animate({'left': '0px'}, 310);
            $('#seventh').animate({'left': '300px'}, 310);
        });
//    支付宝支付
        $('#seventh-pay').click(function () {
            $('#eleventh').animate({'left': '0px'}, 310);
            $('#seventh').animate({'left': '-300px'}, 310);
        });

        //      点击去支付按钮
        $('#second-gopay').click(function () {
            $('#second').animate({'top': '595px'}, 500);
            if (numpayWay == 1) {
                $('#third').animate({'left': '0px'}, 310);
            } else if (numpayWay == 2) {
                $('#eighth').animate({'left': '0px'}, 310);
            } else if (numpayWay == 3) {
                $('#ninth').animate({'left': '0px'}, 310);
            }
        });
//    银行卡支付页面返回
        $('#third-back').click(function () {
            $('#second').animate({'top': '0px'}, 310);
            $('#third').animate({'left': '300px'}, 310);
        });
//    银行卡支付
        $('#third-pay').click(function () {
            $('#eleventh').animate({'left': '0px'}, 310);
            $('#third').animate({'left': '-300px'}, 310);
        });
        //   支付宝支付页面返回
        $('#eighth-back').click(function () {
            $('#second').animate({'top': '0px'}, 310);
            $('#eighth').animate({'left': '300px'}, 310);
        });
//    支付宝支付
        $('#eighth-pay').click(function () {
            $('#eleventh').animate({'left': '0px'}, 310);
            $('#third').animate({'left': '-300px'}, 310);
        });
        //   微信支付页面返回
        $('#ninth-back').click(function () {
            $('#second').animate({'top': '0px'}, 310);
            $('#ninth').animate({'left': '300px'}, 310);
        });
//    微信宝支付
        $('#ninth-pay').click(function () {
            $('#tenth').animate({'left': '0px'}, 310);
            $('#ninth').animate({'left': '-300px'}, 310);
        });
//微信支付成功返回收银台
        $('#tenth-back').click(function () {
            $('#eleventh').animate({'left': '0px'}, 310);
            $('#tenth').animate({'left': '-300px'}, 310);
        });

//支付成功页面返回
        $('#eleventh-back').click(function () {
            $('#eighth').animate({'left': '300px'}, 0);
            $('#eleventh').animate({'left': '300px'}, 310, function () {
                init();
            });
        });
        $('#eleventh-pay').click(function () {
            $('#eighth').animate({'left': '300px'}, 0);
            $('#eleventh').animate({'left': '300px'}, 310, function () {
                init();
            });
        });

//    暂未开放
        $('.ymm-noopen').bind('click', function () {
            // event.stopPropagation();
            // $('.ymm-not-opened').css('display','block').stop(true).animate({'opacity':1},500);
            if ($(this).attr("imgshow") == "3") {
                window.location.href = "#"
                return false;

            }

            $('#myModal2').modal('show');
            if ($(this).attr("imgshow") == "1") {
                $.ajax({
                    url: "#",
                    dataType: "json",
                    data: {},
                    type: "post",
                    success: function (data) {
                        var obj = $.parseJSON(data);
                        if (obj.retCode == "0000") {
                            $('.ymm-code').attr("src", '<{$style}>/image/tyh5syt.png');
                            $('#myModal2').find(".ymm-modal2-txt1").text("移动网站支付");
                            $('#myModal2').find(".ymm-modal2-txt2").text("请使用手机浏览器扫码");
                        } else {

                        }
                    }

                });
            } else if ($(this).attr("imgshow") == "2") {
                $.ajax({
                    url: "#",
                    dataType: "json",
                    data: {},
                    type: "post",
                    success: function (data) {
                        var obj = $.parseJSON(data);
                        $('#myModal2').find(".ymm-modal2-txt1").text("微信公众号支付体验");
                        $('#myModal2').find(".ymm-modal2-txt2").text("请使用微信扫一扫");
                        if (obj.retCode == "0000") {
                            $('.ymm-code').attr("src", '<{$style}>/image/tywxgzh.png');
                        } else {

                        }
                    }

                });
            }


        });

        $(document).click(function (e) {
            var drag = $(".ymm-not-opened"),
                dragel = $(".ymm-not-opened")[0],
                target = e.target;
            if (dragel !== target && !$.contains(dragel, target)) {
                drag.animate({'opacity': 0}, 500, function () {
                    $('.ymm-not-opened').css('display', 'none')
                });
            }
        });
        $(window).scroll(function () {
            $('.ymm-not-opened').animate({'opacity': 0}, 500, function () {
                $('.ymm-not-opened').css('display', 'none')
            });
        });
        /**
         * PC端绑定跳转footer jsp页面
         */
        $("ul.footer-nav").on("click", "li", function () {
            var typeClass = $(this).children("a").attr("class");
            typeClass = typeClass.substring(4);
            jumpJsp(typeClass);
        });
        /**
         * 手机端绑定跳转footer jsp页面
         */
        $(".mobile-footer ul").on("click", "li", function () {
            var typeClass = $(this).children("a").attr("class");
            typeClass = typeClass.substring(4);
            jumpJsp(typeClass);
        });

        function jumpJsp(typeClass) {
            var Url = "guidelinesAction!gotoFooterPage.action?typeClass=" + typeClass;
            window.location.href = Url;
        }
    });
</script>

</div>
<!--中间内容end-->
<!--pc底部导航 start-->
<div class="footer">
    <div class="main">
        <div class="footer-main">
            <div class="float-l">
                <ul class="footer-nav">
                    <li><a href="about.html"
                           class="hhx-law">法律条款</a>|
                    </li>
                    <li><a href="about.html"
                           class="hhx-aboutus">关于我们</a>|
                    </li>
                    <li><a href="about.html"
                           class="hhx-contactus">联系我们</a></li>
                </ul>
                <div class="float-clear"></div>

                <p class="dzz-footer-p-text">Copyright 2018 友付 版权所有  蜀ICP备17034471号-1   </p>
                <div class="hhx-imgs">
                    <a class="item1" href="<{$style}>/image/Zhifuyewu.jpg" target="_blank"></a>
                    <a class="item2" href="<{$style}>/image/zhifuqingsuan.jpg" target="_blank"> </a>
                    <a class="item3" href="<{$style}>/image/guanlixiti_ISO_27001.jpg" target="_blank"></a>
                    <a class="item4" href="<{$style}>/image/feijingrongjigouzhifu.jpg" target="_blank"> </a>
                    <a class="item5" href="<{$style}>/image/zhiliangrenzheng_ISO9001.jpg" target="_blank"> </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!--pc底部导航 end-->
<!--移动端底部导航 start-->
<script src="<{$style}>/js/header-footer_1.js"></script> 
<include file="login_reg" />
</body>

</html>