<include file="Public/header"/>
      <div class="ibox-content">
        <table class="layui-table">
          <tr><td>交易金额：</td><td><strong class="text-danger"><{$order.pay_amount}></strong></td></tr>
          <tr><td>手续费：</td><td><strong class=""><{$order.pay_poundage}></strong></td></tr>
          <tr><td>实际金额：</td><td><strong class="text-success"><{$order.pay_actualamount}></strong></td></tr>
          <tr><td>提交时间：</td><td><strong class="text-warning"><{$order[pay_applydate]|date='Y-m-d H:i:s',###}></strong></td></tr>
          <tr><td>成功时间：</td><td><strong class="text-danger"><{$order[pay_successdate]|date='Y-m-d H:i:s',
            ###}></strong></td></tr>
          <tr><td>交易通道：</td><td><{$order.pay_bankname}></td></tr>
          <tr><td>交易银行：</td><td><{$order.pay_yzh_tongdao}></td></tr>
          <if condition="$fans['memberid'] eq $order['pay_memberid']">
          <tr><td>提交地址：</td><td><{$order.pay_tjurl}></td></tr>
          <tr><td>页面返回地址：</td><td><{$order.pay_callbackurl}></td></tr>
          <tr><td>服务器通知地址：</td><td><{$order.pay_notifyurl}></td></tr>
          <tr><td>订单描述：</td><td><{$order.pay_productname}></td></tr>
          </if>
          <tr><td>状态：</td><td>
            <switch name="order[pay_status]">
              <case value="0"><strong class="text-danger">未处理</strong></case>
              <case value="1"><strong class="text-warning">已成功，未返回[
                <if condition="$order['pay_status'] eq 1">
                  <a href="<{:U('Pay/Pay/bufa', ['TransID'=>$order['pay_orderid'],'tongdao'=>$order['pay_ytongdao']])}>" target="_blank">补发通知</a>
                </if>
                ]</strong></case>
              <case value="2"><strong class="text-success">已成功，已返回</strong></case>
            </switch>
          </td></tr>
        </table>
      </div>
<include file="Public/footer"/>
<script>
layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            , table = layui.table; //表格
    });
</script>
</body>
</html>