<include file="Public/header"/>
<div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>商家入驻申请</h5></div>
        <div class="ibox-content">
          <form class="layui-form" action="" autocomplete="off">
            <input type="hidden" name="id" value="">
            <input type="hidden" name="m[mch_type]" value="1">
            <div class="layui-form-item">
              <label class="layui-form-label">商户号</label>
              <div class="layui-input-inline">
                <input type="text" name="out_mch_id" lay-verify="required" readonly placeholder="请输入" autocomplete="off" class="layui-input" value="<{$mch_id}>">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">商户全称</label>
              <div class="layui-input-block">
                <input type="text" name="m[mch_name]" lay-verify="required" autocomplete="off" placeholder="商户名称，对应营业执照全称" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">币种：</label>
              <div class="layui-input-inline">
                <select name="m[currency]" lay-verify="required">
                  <option value="CNY">人民币</option>
                  <option disabled value="USD">美元</option>
                  <option disabled value="EUR">欧元</option>
                  <option disabled value="HKD">港币</option>
                </select>
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">商户经营类型：</label>
              <div class="layui-input-block">
                <input type="radio" name="m[mch_dealType]" value="1" title="实体" checked="">
                <input type="radio" name="m[mch_dealType]" value="2" title="虚拟">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">结算模式：</label>
              <div class="layui-input-block">
                <input type="radio" name="m[settleMode]" value="1" title="T1结算" checked="">
                <input type="radio" name="m[settleMode]" value="2" title="D0结算">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">商户详情：</label>
              <div class="layui-input-block"><hr class="layui-bg-gray"></div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">商户简称：</label>
              <div class="layui-input-inline">
                <input type="text" name="m[mch_detail][mch_shortName]" lay-verify="required" autocomplete="off" placeholder="商户简称" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">5～15个汉字
                简称在微信、 支付宝、 QQ 钱包是通用的， 请不要使用带有具体支付类型的简称
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">验证手机</label>
                <div class="layui-input-inline">
                  <input type="tel" name="phone" lay-verify="phone" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">验证邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">多规则验证</label>
                <div class="layui-input-inline">
                  <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">验证日期</label>
                <div class="layui-input-inline">
                  <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">验证链接</label>
                <div class="layui-input-inline">
                  <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
                </div>
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">验证身份证</label>
              <div class="layui-input-block">
                <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">自定义验证</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
            </div>

            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">范围</label>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">联动选择框</label>
              <div class="layui-input-inline">
                <select name="quiz1">
                  <option value="">请选择省</option>
                  <option value="浙江" selected="">浙江省</option>
                  <option value="你的工号">江西省</option>
                  <option value="你最喜欢的老师">福建省</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="quiz2">
                  <option value="">请选择市</option>
                  <option value="杭州">杭州</option>
                  <option value="宁波" disabled="">宁波</option>
                  <option value="温州">温州</option>
                  <option value="温州">台州</option>
                  <option value="温州">绍兴</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="quiz3">
                  <option value="">请选择县/区</option>
                  <option value="西湖区">西湖区</option>
                  <option value="余杭区">余杭区</option>
                  <option value="拱墅区">临安市</option>
                </select>
              </div>
              <div class="layui-form-mid layui-word-aux">此处只是演示联动排版，并未做联动交互</div>
            </div>

            <div class="layui-form-item" pane="">
              <label class="layui-form-label">原始复选框</label>
              <div class="layui-input-block">
                <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">单选框</label>
              <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="禁" title="禁用" disabled="">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">普通文本域</label>
              <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">编辑器</label>
              <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<include file="Public/footer"/>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });


    });
</script>
</body>
</html>
