<!DOCTYPE html>
<html lang="zh_XC" dir="ltr" class="js">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="custom-apple-app" content="app-id=283646709">
	<title>自助收银台</title>
	<link rel="stylesheet" href="/Public/cashier/css/app-service-nav.ltr.css">
	<link rel="stylesheet" href="/Public/payment/cashier/css/transfer.ltr.css">
	<link rel="stylesheet" href="/Public/payment/css/layer.css" id="layuicss-skinlayercss">


	<link nonce="" rel="stylesheet" type="text/css" href="/Public/payment/cashier/css/vx-header-footer.min.css">
	<link nonce="" rel="stylesheet" type="text/css" href="/Public/payment/cashier/css/cw-notifications.min.css">

</head>

<body data-iswireless="" data-istablet="" class="feature-analytics feature-bundle feature-captcha feature-global-rollout feature-installment-summary transferPage  C2 ltr" id="random-glamor-id-15398164809729287">
<input type="checkbox" id="toggleNavigation" class="vx_globalNav-toggleCheckbox">


<div class="vx_globalNav-main globalNav-main js_globalNavView js_ppLogo" role="banner">
	<div class="vx_globalNav-container" style="line-height:100%;">
		<a href="javascript:void(0)" name="ppLogo"  style="padding-top:10px;" >
			<img src="/Public/payment/cashier/img/shouyintai.png" height="50">
		</a>
		<div class="vx_globalNav-secondaryNav_mobile">
			<div class="vx_globalNav-listItem_mobileLogout">
				<a href="javascript:void(0)" name="logout_mobile" class="vx_globalNav-link_mobileLogout">退出</a></div>


		</div>
		<div class="vx_globalNav-navContainer">
			<nav class="vx_globalNav-nav" role="navigation">
				<ul class="vx_globalNav-list">
					<li class="">
						<a href="#" target="_self" name="summary" class="vx_globalNav-links js_summary">智能收银台</a></li>

				</ul>
				<ul class="vx_globalNav-list_secondary">
				</ul>
			</nav>
		</div>
	</div>
	<div>
		<!--[if lte IE 10]>
		<div class="vx_globalNav-alertContainer vx_globalNav-alertWarning vx_hidden-phone">
			<div class="vx_alert_inline vx_alert-warning">
				<p class="vx_alert-text">您的浏览器已经过时。请使用最新版本查看所有账户功能。</p></div>
		</div>
		<![endif]--></div>
</div>
<div id="js_foreground" class="vx_foreground-container foreground-container" style="">
	<div class="vx_globalNav-main_mobile">
		<div class="vx_globalNav-headerSection_trigger">
		</div>
		<div class="vx_globalNav-headerSection_logo">
			<img src="/Public/payment/cashier/img/shouyintai.png" height="50">

		</div>
		<ul class="vx_globalNav-headerSection_actions">

		</ul>

	</div>
	<div id="contents" class="contents vx_mainContent" role="main" aria-label="Add Billing Address">
		<section class="mainContents row transfer " id="transfer">
			<div id="react-transfer-container">
				<div data-reactroot="" class="react-p2p_wrapper">
					<!-- react-empty: 2 -->
					<div>
						<!-- react-empty: 4 -->
						<form id="payForm" class="previewPage pageWrapper_1epv95t" action="<{:U('Charges/checkout')}>" method="post">
							<div class="headerBox_dpbx39">
								<div class="recipientHeader css-1ba9780">
									<div class="css-1lmy3ja">
										<div class="css-1jjxyny">
											<img src="/Public/payment/cashier/img/logo.png"  width="100">

										</div>
									</div>
									<p class="vx_text-5" title=""><{$cache['receiver']}></p>
									</div>
								<div>
									<div>
										<div dir="ltr" class="inputWrapper_2gx8tz">
											<div class="currencySymbol_9kpplj">￥</div>
											<input type="tel" class="input_1ug0axw vx_text-2" dir="ltr" name="amount" id="amount" data-nemo="amount" autocomplete="off" required="" value="" placeholder="0.00"  style="width: 200px; font-size: 60px;">

										</div>

									</div>
									<div class="noteWrapper_11vzdwb">
										<div class="noteWrapper_bi336z">
											<label for="remarks" class="label_vcf29v">
												<div class="labelContentsWrapper_1xxo5fl">
													<svg class="labelSvg_tlsost" viewBox="0 0 14.2 14.22">
														<g>
															<polyline points="6.86 4.17 1.14 9.9 0.5 13.72 4.32 13.08 10.04 7.36"></polyline>
															<path d="M5.14,14,3.23,12.14" transform="translate(-0.82 -0.96)"></path>
															<path d="M12.61,6.57,9.43,3.39" transform="translate(-0.82 -0.96)"></path>
															<path d="M10.86,2h0a1.89,1.89,0,0,1,2.66.11l.41.41A1.94,1.94,0,0,1,14,5.14h0" transform="translate(-0.82 -0.96)"></path>
														</g>
													</svg>
													<p class="labelText_xmx9cj">备注</p></div>
											</label>
											<textarea id="remarks" data-nemo="note-field" name="remarks" class="textArea_gebdo3" style="height: 44px;"></textarea>
										</div>
									</div>
								</div>
						
							<div class="whiteBox_5k4pn1">
								<div class="css-1gb3gzr">
									<label for="payList" class="css-onfkoe vx_text-5">支付方式</label>
									<select name="bankcode" id="payList" class="vx_form-control" >

										<volist name="products" id="product" key="key">
										<option  value="<{$product.id}>"><{$product.name}></option>
										</volist>
									</select>
								</div>
							</div>
								<input type="hidden" name="mchid" id="mchid" value="<{$cache['id']+10000}>">
							<div class="submitButtonWrapper_1ntyrs8">
								<button type="button" class="vx_btn submitButton_1sxl9gz preview-getFundingOptions" id="pay">立即支付</button></div>

							</form>

						</div>
				</div>
			</div>
			<div class="sidepanel fundingOptions animated" tabindex="-1"></div>
		</section>
	</div>
	<div class="vx_globalFooter">
		<div class="vx_globalFooter-content">

<div class="copyright">
    <div class="wrapper">
        <center>Copyright © 2018 <{$sitename}> All rights reserved. 版权所有</center>
    </div>
</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Public/payment/js/dialogJs.js"></script>
<script type="text/javascript" src="/Public/payment/js/layer.js"></script>
<script type="text/javascript">
    $(function(){

// 基本配置
        var hostPath = "",
            domain = "";

// 参数存储
        var dataParam = [];

// 经纬度
        var latitude=0;
        var longitude=0;

// 控制loading
        var index;
// 0 - 线下 1线上商户
        var online=0;
        var merLevel;
        /*********************************init*******************************/

        // 选择支付方式
        $("#payList").on('change',choicePayMethod);

        // 弹窗关闭
        $("#close_dialog").on("click",quit_dialog);

        // 支付
        $("#pay").on("click",toPay);

        //双按钮弹窗关闭
        $(".revise").on("click",quit_tip_dialog);


        /********************************超额弹窗********************************/
        function quotaDialog(){
            var openFastpay=getUrlParam("isOpenFastPay");
            if(openFastpay == '1'){
                $(".tip_detail").html("扫码额度超限，推荐使用快捷支付，大额，秒到，有积分")
                show_tip_dialog();
                $(".pay_btn").addClass("on_click");
                return;
            } else {
                $(".dialog_detail").html("单笔交易额度限制");
                show_reward_rule();
                $(".pay_btn").addClass("on_click");
                return;
            }
        }

        /********************************choicePayMethod********************************/
// 选择支付方式
        function choicePayMethod(){
            var option= $(this).find("option:selected");
            var product_id=option.attr('product_id');
            var channel_id=option.attr('channel_id');

                $("#pay").attr('product_id',product_id);
                $("#pay").attr('channel_id',channel_id);

        }


        /*********************************toPay*******************************/
// 支付。。。
        var merchantId = "{$cache.id}";
        function toPay(){
            var temp = $("#amount").val();

            if(temp=="0.00"||temp==""||parseFloat(temp)==0||parseFloat(temp)<0){
                layer.msg("请先输入金额再点击付款哦!");
                return;
            }else if(merchantId==null||merchantId==''){
                layer.msg("无法获取商户信息");
                return;
            }else{
                $('#payForm').submit();
            }
        }
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null)
                return unescape(r[2]);
            return null; //返回参数值
        }
    });
    $(document).ready(function(){
        bindKeyEvent($("#amount"));
    });
    function bindKeyEvent(obj){
        obj.keyup(function () {
            var reg = $(this).val().match(/\d+\.?\d{0,2}/);
            var txt = '';
            if (reg != null) {
                txt = reg[0];
            }
            $(this).val(txt);
        }).change(function () {
            $(this).keypress();
            var v = $(this).val();
            if (/\.$/.test(v))
            {
                $(this).val(v.substr(0, v.length - 1));
            }
        });
    }
</script>
</html>