<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>网银支付</title>
	<link rel="stylesheet" href="Public/bank/common.css">
	<style type="text/css">
		.div-bank-list
		{
			width:800px;
		}

		.pay-label li{
			width:190px;
			margin-right: 0px;
		}
		.pay-label li label{
			height: 50px;
			width: 180px;
		}
		.pay-label li input{
			height: 1px;
		}
		.bankCardType li{
			display: inline;
			float: left;
			height: 42px;
			margin: 20px 40px 0 0;
			position: relative;
			width: 150px;
		}
	</style>

</head>

<body>
<div class="header">
	<div class="header-main"><img src="Public/bank/bank.jpg" height="40px" > </div>
</div>
<div class="zhezhao-bg"></div>
<div class="content">
	<div class="top-content">
		<p class="float-l" style="width:250px">订单号：<{$orderid}></p>
		<p class="float-r" style="margin-top:-10px">订单金额：<span><{$money}></span>元</p>
	</div>
	<div class="float-clear"></div>
	<div class="main-content">
		<div class="main-title"> 网银快捷支付 </div>
		<div class="pay-tab">
			<form id="payOrder" method="post" action="<{$rpay_url}>">
				<input type="hidden" name="orderid" value="<{$orderid}>">
				<div class="choose-bank" style="opacity: 1;">
					<p class="choose-bank-title"><span></span>请选择支付银行</p>
					<div class="div-bank-list">


						<ul class="pay-label" name="banktype">
							<volist name="bank_array" id="item" key="k">
								<li>
									<input value="<{$key}>"  <eq name="k" value="1"> checked </eq> name="bank_code" id="<{$item}>" type="radio">
									<label for="<{$item}>"><span style="background:url(/Public/bank/<{$item}>.png) center center;width:162px; height:47px;display:inline-block"></span></label>
								</li>
							</volist>
						</ul>
					</div>
					<div class="disable-screen" style="display:none"></div>
				</div>
			</form>
				<div style="display:block; height:220px">
					<div class="pay-banknumber">
			<a type="submit" class="bcn-btn float-l" value="确认" id="btnPay" href="javascript:">确定</a>
			<div style="margin-top:40px;position:absolute;display:none;color:red;" id="error">错误信息提示</div>
			<div class="float-clear"></div>
		</div>
	</div>
</div>
</div>
</form>

<script src="Public/Front/js/jquery.min.js"></script>
<script src="Public/weui/weui.min.js"></script>
<script>
    $('input[name="__hash__"]').remove();

    var isbtn=true;
    $("#btnPay").on("click",function(){


        $('#payOrder').submit();
    });
</script>



</body></html>
