<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>雀付 | SDK下载</title>
<meta name="keywords" content="雀付,支付接口,移动支付,应用内支付,微信支付,银联接口,支付宝支付,接口,SP,短代,网银接口">
<meta name="description" content="雀付支付接口服务平台，提供一站式的支付接口接入服务。让接入支付渠道变的无比简单">
<meta name="baidu-site-verification" content="akHk5pDgS4" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8"><![endif]-->
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link href="<{$style}>css/base2.css?s=2" type="text/css" rel="stylesheet" media="screen">
<script src="<{$style}>js/jquery.min.js"></script>
<script src="<{$style}>js/js_layout" type="text/javascript"></script>
</head>
<body class="">
<div id="nav" class="version-a">
  <button class="menu-toggle close"><i class="fa fa-times"></i></button>
  <ul id="navigation_box">
    <li><a id="features-link"  href="<{$introduce}>">产品介绍</a></li>
    <li style="display:inline-block;width:100px"><a id="pricing-link" class="login"   href="<{$user_login}>"><font style="color:orange">商户登录<br/>
      </font></a></li>
    <li style="display:inline-block;width:100px"><a id="pricing-link" class="login" href="<{$agent_login}>"><font style="color:orange">代理登录<br/>
      </font></a></li>
    <li><a id="partner-link"    href="<{$demo}>">DEMO下载</a></li>
  </ul>
  <ul id="small-nav" class="group">
    热线：400-888-9992
  </ul>
</div>
<div id="wrap">
  <div id="header" class="version-a default" style="padding-bottom:20px">
    <div  class="container"><a href="/"><img style="width: 80px;" src="<{$logo}>"></a>
      <button class="menu-toggle"><i class="fa fa-navicon"></i></button>
      <div class="clear"></div>
    </div>
  </div>
  <script>
				$('.login').click(function(){
					$('#loglist').slideToggle();
				});
			</script>
  <style>
.log:hover{color:orange!important}
</style>
  <link href="<{$style}>css/app3.css" type="text/css" rel="stylesheet" media="screen">
  <link href="<{$style}>css/product.css" type="text/css" rel="stylesheet" media="screen">
  <div id="content" class="docs-content-container" style="background:transparent url(<{$style}>style/background_globe-grey.png)no-repeat;">
    <div class="rows" style="margin-bottom:1em">
      <div class="download" style="background:transparent;margin-left:auto;margin-right:auto">
        <h2>SDK下载</h2>
        <div class="main">
          <ul>
            <li>
              <h3><span>PHP DEMO</span></h3>
              <p> 下载文件包含：<br />
               接入文档/开发demo<br />
                PHP 调试DEMO</p>
              <a href="<{$download_demo}>">立即下载</a></li>
            <li>
              <h3><span>.NET DEMO</span></h3>
              <p> 下载文件包含：<br />
               接入文档/开发demo<br />
                .NET 调试DEMO </p>
              <a href="<{$download_demo}>">立即下载</a></li>
            <li>
              <h3><span>H5 DEMO</span></h3>
              <p> 下载文件包含：<br />
              接入文档/开发demo<br />
                H5 调试DEMO </p>
              <a href="<{$download_demo}>">立即下载</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" style="background:#f9f9f9">
    <div id="bottom" class="row" style="padding:0">
      <div class="container">
        <div class="col span-12" style="text-align:center">
            <p id="copyright" class="extra-small" style="margin:auto 0;float:none">@雀付 quefu.cn &nbsp;&nbsp;&nbsp;粤ICP备15051803号-3&nbsp;&nbsp;&nbsp;电话：400-000-/888&nbsp;&nbsp;&nbsp; </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div style="display:none">
  <script src="<>" language="JavaScript"></script>
</div>
</body>
</html>
