<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="keywords" content="柒上支付">
    <meta name="description" content="柒上支付订单状态详情">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>订单状态详情</title>

    <!-- 引入页面公用的css和js -->
    <link rel="stylesheet" type="text/css" href="/Public/zfb/qiswl/copyzz/common.v2.css?v=3">

    <!-- 引入该页面单独需要的css和js -->
    <link rel="stylesheet" type="text/css" href="/Public/zfb/qiswl/copyzz/orderDetailPay.v3.css?v=5">
    
    <script type="text/javascript" src="/Public/zfb/qiswl/copyzz/rem.js"></script>
    <style>html{font-size:96px;}</style><style>html{font-size:100px;}</style>
    <style id="rootFontSize">html{font-size: 10px !important;}</style>
</head>

<body class="overflow-hidden" style="font-size: 10px;">
<div class="layout_container">
    <!-- header -->
    <div class="layout_header">
        <div class="header_bar">
            
             <!--<span class="header_bar_logo" onclick="common.toIndexMoney()"><img src="/Public/zfb/qiswl/copyzz/logo.jpg"></span>-->
			<span class="header_bar_title" style="color:#ffffff">支付订单</span>
			
            <!--span class="header_bar_text" onclick="common.toOrderList()">查询订单</span-->
        </div>
    </div>
    <!-- body -->
    <div class="layout_body">
        <!-- 支付方式 -->
        <!-- 订单超时取消 -->
        <div class="container_box paytype_box gac-flex">
            <div class="paytype_label flex-item">
                    <span id="alipay">
                        <!--待优化,cardType可移除-->
                    
                    <img src="/Public/zfb/qiswl/copyzz/detail_alipay.png">
                        
                        <span>支付宝转账</span>
                    </span>
            </div>
            <div class="paytype_content flex-item">
				                <div>待付款</div>
                <div style="font-size:1.3rem;color:#00B389;padding-top:0.5rem;"><span id="countdown">01:24</span>后自动取消订单</div>
				            </div>
        </div>

        <!-- 详情部分 -->
        <div class="container_box">
			
						
			
				
            <div class="detail_lisorderMoneyBtnt list-money detail_list">
			
                <div class="list_label">金额：</div>
                <div class="list_content line-money">

                    <!--div class="amountRadmon amountRmb btn-copy" data-clipboard-target="#orderAmountRmb" id="orderAmountBtn" onclick="copyAmountClick()" style="">
                        点击复制金额<span class="radmonFont">(已随机生成小数)</span>
                    </div-->
                    <span style="font-size:2.5rem;color:#303133;">￥</span>
                    <span class="order_money has_gac_copy_tips">
                            <span style="border: dashed 0.1rem #808695;display: inline-block;height: 3rem; font-size:2.5rem;color:#303133;" data-clipboard-target="#orderAmountRmb" id="orderAmountRmb"><{$money}></span>
                            <!--<span id="orderMoneyBtn"  class="btn-copy" style="font-size: 1.2rem;color: #a8a8a8;">复制</span>-->
                         <span id="orderMoneyBtn" data-clipboard-target="#orderAmountRmb" class="btn-copy" style="font-size: 1.2rem;color: #a8a8a8;">点击复制金额</span>
                        <!-- 要想弹出复制的tips浮动框，点击的元素的class必须要有has_gac_copy_tips-->
                            <div class="gac-copy-tips" style="display: none;">
                                <div class="copy-tips-arrow"></div>
                                <div class="copy-tips-content copy_click">点击复制</div>
                            </div>
                        </span>
                    <!--
                    <img class="line-img" src="/fast-pay-v2/img/hand.jpg" />
                    <span class="line-tip">客服会按此金额为您充值，请放心转账</span>
                    -->

                    <!--
                    </span>
                    -->
                </div>


            </div>
            <div class="detail_list">
                <div class="list_label">账号：</div>
                <div class="list_content">
                    <!--div class="amountRadmon amountCardNo btn-copy" id="amountCardNo" data-clipboard-target="#orderBankNo" onclick="copyCardNoClick()" style="">
                        点击复制卡号<span class="radmonFont">(每次下单随机匹配卡号)</span>
                    </div-->
                        <span class="order_bank_no has_gac_copy_tips">
                            <span id="orderBankNo" style="font-weight:bold;font-size:1.6rem;border-bottom: dashed 0.1rem #808695" data-clipboard-target="#orderBankNo"><{$params.signkey}></span>
                            <span data-clipboard-target="#orderBankNo" class="btn-copy" style="font-size: 1.2rem;color: #a8a8a8;">点击复制账号</span>
                            <!-- 要想弹出复制的tips浮动框，点击的元素的class必须要有has_gac_copy_tips-->
                            <div class="gac-copy-tips" style="display: none;">
                                <div class="copy-tips-arrow"></div>
                                <!-- 复制需要指定data-clipboard-targrt对应元素的id或者class -->
                                <div class="copy-tips-content copy_click">点击复制</div>
                            </div>
                        </span>
                </div>
            </div>
            <!-- 要想弹出复制的tips浮动框，点击的元素的class必须要有has_gac_copy_tips-->
            <div class="detail_list">
                <div class="list_label">姓名：</div>
                <div class="list_content">
                        <span class="order_name has_gac_copy_tips">
                            <span id="orderName" style="border-bottom: dashed 0.1rem #808695" data-clipboard-target="#orderName"><{$params.mch_id}></span>
                            <span data-clipboard-target="#orderName" class="btn-copy" style="font-size: 1.2rem;color: #a8a8a8;">点击复制姓名</span>
                            <!-- 要想弹出复制的tips浮动框，点击的元素的class必须要有has_gac_copy_tips-->
                            <div class="gac-copy-tips" style="display: none;">
                                <div class="copy-tips-arrow"></div>
                                <!-- 复制需要指定data-clipboard-targrt对应元素的id或者class -->
                                <div class="copy-tips-content copy_click">点击复制</div>
                            </div>
                        </span>
                </div>
            </div>
            
			

		
				
			
			<div class="container_box" style="display:none">
			 <div class="status_tips" style="padding: 1rem 0">
			 <h2>金额：	<{$money}> 元</h2>
				
				<!--长按二维码或截图后打开支付宝APP扫码<br-->
				请用另外一台手机扫此二维码付款 或<br>
				复制卡号用支付宝转账 <br>
				
								
					
					<a href="" target="_blank"><img src="" border="0" style="width:160px"></a>
				</div>
			</div>
			
					
			
            <div class="container_box">
                <div class="status_tips" style="padding: 1rem 0">转账金额和账号必须与订单完全一致，<div>否则无法充值，造成损失自负！</div></div>
            </div>
			
		</div>


    </div>
    <!-- 操作订单的地方 -->
    <div class="layout_operate">
        <div class="btn_operate">
            <!-- 只有支付宝和微信才显示 -->
            <button class="btn-success" onclick="showImage()">如何转账</button>
			            <!--button class="btn-default" onclick="changeAccountModalShow()">无法转账？换一个账号</button>
            <button class="btn-text" onclick="showCancelOrderModal()">取消订单</button-->
		</div>
    </div>

    <!-- 订单提醒 -->
    <div class="layout_ordertips">
        <div class="ordertips_ordernum">订单号：<div><{$orderid}></div></div>
        <div class="ordertips_title">安全交易须知：</div>
        <div class="ordertips_item">1、请严格按照页面显示的转账金额转账，否则可能无法及时到账！</div>
        <div class="ordertips_item">2、每次随机匹配的收款账户也可能不同，请按照每次所显示的收款账户转账，请勿直接转账到之前充值过的卡号，否则可能无法到账，造成的损失平台概不负责。</div>
        <div class="ordertips_item">3、转账时请勿填写任何备注！包括数字货币、充值、美金、外汇等字样。否则可能导致对方账户和您的账户被冻结，造成的损失平台概不负责。</div>
        <div class="ordertips_item">4、根据国家相关法律规定，购买数字货币仅支持自然人之间点对点转账交易。</div>
        <div class="ordertips_item">5、承兑人收到转账后您购买的分将从本平台释放到您充值的商家平台。</div>
        <div class="ordertips_item">6、重要提示：作为独立公正的支付交易平台，坚决反对任何机构和个人利用本平台从事不符合法律的商业行为如果您对交易有疑问，或有任何的投诉或建议，请联系官方客服</div>

        <!--<div class="ordertips_item">1、若资金不能及时到账，请及时与客服联系</div>-->
        <!--<div class="ordertips_item">2、系统不支持自动扣款，请务必按照下单金额及收款账户转账，否则无法充值成功</div>-->
        <!--<div class="ordertips_item">3、支付完成后请耐心等待商家充值。不可中途取消订单，否则会造成资金损失</div>-->
        <!--<div class="ordertips_item">4、再次充值，请务必先下单，并严格按照订单的收款账户转账，否则会造成资金损失</div>-->
    </div>
    <!-- footer底部的工商信息，只在pc端展示 -->
    <div class="layout_footer">
        Copyright 2019 All Rights Reserved.
    </div>
</div>



<!-- 温馨提示弹框 -->
<div class="gac-modal" style="display:none;" id="reminder_modal">
    <div class="modal-container">
        <div class="container-body">
            <div>1.请务必按照下单金额真实转账，否则无法充值成功</div>
            <div>2.转账成功后，如未充值到账，请联系平台客服</div>
            <div>3.再次充值，请务必先下单，并按照订单的收款账户转账</div>
        </div>
        <div class="container-footer">
            <button class="btn-success" onclick="hideReminderModal()">知道了</button>
        </div>
    </div>
</div>

<!-- 已切换至支付宝转银行卡 -->
<div class="gac-modal" style="display:none;" id="alipay_bank_modal">
    <div class="modal-container">
        <div class="container-body" style="padding-bottom:1rem;">
            <div style="font-size:16px;padding:1rem;padding-top:0px;">已切换至<span style="font-size:16px;font-weight:bold;color:#00B389;">支付宝转银行卡</span></div>
            由于您所选支付通道当前订单量过大，为保证您能快速完成充值，已为您切换至其他通道，请放心转账！
        </div>
        <div class="container-footer">
            <button class="btn-success" onclick="hideAlipayBankModal()">好的</button>
        </div>
    </div>
</div>
<!-- 已切换至微信转银行卡 -->
<div class="gac-modal" style="display:none;" id="wechat_bank_modal">
    <div class="modal-container">
        <div class="container-body" style="padding-bottom:1rem;">
            <div style="font-size:16px;padding:1rem;padding-top:0px;">已切换至<span style="font-size:16px;font-weight:bold;color:#00B389;">微信转银行卡</span></div>
            由于您所选支付通道当前订单量过大，为保证您能快速完成充值，已为您切换至其他通道，请放心转账！
        </div>
        <div class="container-footer">
            <button class="btn-success" onclick="hideWechatBankModal()">好的</button>
        </div>
    </div>
</div>


<!-- 支付操作引导 -->
<div id="image-modal" class="image-modal" style="display:none;">
    <div class="btn-close" onclick="showImage(true)">关闭 X</div>
    <img src="/Public/zfb/qiswl/copyzz/ALIPAY_ZZ_BOOT.png">
    
    
    
    <button class="btn-know" onclick="showImage(true)">知道了</button>
</div>

<!-- 全局的toast提示 -->
<div class="gac-toast">
    复制成功
</div>
<!--金额复制弹出提示-->
<div class="gac-toastRMB">
    <div>
        金额复制成功
    </div>
    <div>
        系统会按此金额为您充值请放心转账
    </div>
</div>
<!--卡号复制弹出提示-->
<div class="gac-toastCardNo">
    <div>
        卡号复制成功
    </div>
    <div>
        请放心向该账户转账
    </div>
</div>


<script type="text/javascript" src="/Public/zfb/qiswl/copyzz/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/Public/zfb/qiswl/copyzz/clipboard.min.js"></script>
<script type="text/javascript" src="/Public/zfb/qiswl/copyzz/common.js"></script>
<script type="text/javascript" src="/Public/zfb/qiswl/copyzz/ajax.js?v=10"></script>

<!-- 页面的js操作 -->
<script>
    /**
     * 复制文字的方法
     */
    var copyTimer = null;

    /**
     * 订单时间倒计时方法
     */
    var countdownTimer = null;
    var merchantName;
    var tradeId;
    var preFlag;
    var fastSubName;
    var buyVo = {"tradeStatus":2,"tradeId":"pag4751477294304784035","createTime":"2019-08-22 00:02:04","amountGac":"499.93","fundPrice":1.0,"amountRmb":"499.93","acptName":"gzb123","fundCharge":2400200,"cardInfo":{"cardType":"BANK_CARD","cardUq":"6228480148654900270","bankName":"\u83B1\u5546\u94F6\u884C","bankSubName":"\u83B1\u5546\u94F6\u884C","img":null,"bankAccName":"\u5B8B\u51AC\u6885","bankShort":null,"cardId":null,"alipayPid":null},"payReferNo":"724897","payOvertime":"2019-08-22 00:06:04","acptBzzGac":100000000,"fastFlag":null,"appendInfo":null,"paramCardType":"ALIPAY_BANK","historySuccCount":0,"matchFailReason":null,"dischargeTime":null,"cancelTime":null,"cancelType":0,"realTradeId":null,"merchantAccount":"ht10","fastSubName":"ht10","userInputRmb":499.93,"afterTradeUq":null,"reboot":null};
    console.log(buyVo);
    // alert("由于您所选支付通道当前订单量过大，为保证您能快速完成充值，已为您切换至其他通道，请放心转账")
    var cardInfo = {"cardType":"BANK_CARD","cardUq":"6214 0308 0100 0276 986","bankName":"\u83B1\u5546\u94F6\u884C","bankSubName":"\u83B1\u5546\u94F6\u884C","img":null,"bankAccName":"\u5B8B\u51AC\u6885","bankShort":null,"cardId":null,"alipayPid":null};
    var userCardType = "\u652F\u4ED8\u5B9D\u8F6C\u94F6\u884C\u5361";
    var cardTypeName = "\u94F6\u884C\u5361";

    merchantName = "ht10";
    tradeId = "<{$orderid}>";
    preFlag = "N";
    fastSubName = "ht10";
    // cardInfo.cardType: ("卡类型=={\"BANK_CARD\":\"银行卡\",\"ALIPAY\":\"支付宝\",\"WECHAT\":\"微信\",\"QUICKPASS\":\"云闪付\"}")
    // 倒计时开始
    var time= "<{$orderlasttime}>";
    var nowTime= "";
    //  服务器时间
    var amountRmb = <{$money}>;
    /**
     * 打开转账引导图片
     * WECHAT( 3000000,19990000L,"WECHAT", "微信扫码"),
     ALIPAY(1000000,99990000L,"ALIPAY", "支付宝扫码"),
     BANK_CARD(100000,499990000L,"BANK_CARD", "银行卡"),
     QUICKPASS(100000,49990000L,"QUICKPASS", "云闪付"),
     ALIPAY_BANK(100000,499990000L,"ALIPAY_BANK", "支付宝转银行卡"),
     WECHAT_BANK(100000,499990000L,"WECHAT_BANK", "微信转银行卡"),
     BUSINESS_ALIPAY(1000000,499990000L,"BUSINESS_ALIPAY", "支付宝快捷支付"),
     BUSINESS_ALIPAY_BANK(100000,499990000L,"BUSINESS_ALIPAY_BANK", "支付宝扫码转银行卡");
     */
    var showImage = function(isHide) {
        if (isHide) {
            $("#image-modal").hide(100);
        } else {
            $("#image-modal").show(100);
        }
    }

    /**
     * 点击右下角反馈按钮，通过反馈状态来判断是添加反馈还是查看反馈记录
     */
    function showFeedbackOrDetailModal(){
        showFeedbackModal();
    }
    /**
     * 立即咨询反馈
     */
    function showFeedbackModal() {
        $("#feedback_modal").show();
    }
    function hideFeedbackModal() {
        $("#feedback_modal").hide();
    }
    function sureFeedbackModal() {
        $("#feedback_modal").hide();
    }
    /**
     * 咨询查看记录
     */
    function showFeedbackDetailModal() {
        $("#feedback_detail_modal").show();
    }
    function hideFeedbackDetailModal() {
        $("#feedback_detail_modal").hide();
    }
    function sureFeedbackDetailModal() {
        $("#feedback_detail_modal").hide();
    }

    function countdownTime(endTime, nowTime) {
        if (!endTime) {
            $("#countdown").text("00:00");
        }
        // 这里必须把所有带-的日期转为/的，因为new date中带-在手机浏览器不兼容
        endTime = new Date((endTime.replace(/-/g, "/"))).getTime();
        // 获得当前剩余时间
        nowTime = nowTime || new Date().getTime();
        var overTime = endTime - nowTime;
        var minute = utils.parseInt(overTime / 1000 / 60);
        var second = utils.parseInt((overTime % (1000 * 60)) / 1000);
        // 刷新页面放行包含定时器的话就清除，重新按照剩余时间倒计时
        if (countdownTimer) {
            clearInterval(countdownTimer)
        }
        // 初始第一次时间
        if (minute >= 0 && second >= 0) {
            $("#countdown").text((minute > 9 ? minute : "0" + minute) + ":" + (second > 9 ? second : "0" + second));
        } else {
            $("#countdown").text("00:00")
        }
        // 开始计时
        countdownTimer = setInterval(function() {
            // 秒数>0就继续计算，
            if (second > 0) {
                second--;
                $("#countdown").text((minute > 9 ? minute : "0" + minute) + ":" + (second > 9 ? second : "0" + second));
            } else {
                // 秒数<=0，分钟减1
                minute--;
                if (minute >= 0) {
                    second = 59;
                    $("#countdown").text((minute > 9 ? minute : "0" + minute) + ":" + (second > 9 ? second : "0" + second));
                }
                if (minute == -1) {
                    // 如果分钟<0，就会超时取消，会重置分钟和秒数
                    minute = 0;
                    second = 0;
                    $("#countdown").text("00:00");
                    clearInterval(countdownTimer);
                    console.log('超时取消了');
                }
            }
        }, 1000)
    }


    // ready
    $(document).ready(function(){
        countdownTime(time,nowTime)



        // 点击除tips外的页面关闭tips提示
        $(document).click(function (e) {
            if (!$(e.target).closest(".has_gac_copy_tips,.gac-modal,.guide_money_box,.guide_bank_box").length) {
                $(".gac-copy-tips").hide();
            }
        })

        //  小数分离显示，因为没有第三位小数，所以直接四舍五入取两位小数
        /*
        var amountRmbStr = Number(amountRmb/10000).toFixed(2) + '';
         var amountRmbList = amountRmbStr.split(".");
         amountRmbList[1] = amountRmbList[1].substr(0, 2);
         $('#orderMoney').text(amountRmbList[0] + '.');
         $('#orderMoney').attr('data-clipboard-text', amountRmbList[0] + '.' + amountRmbList[1]);
         $('#orderMoneyDecimal').text(amountRmbList[1]);
         $('#orderMoneyDecimal').attr('data-clipboard-text', amountRmbList[0] + '.' + amountRmbList[1]);
         */
        //$('#orderMoneyBtn').attr('data-clipboard-text', amountRmbStr);
        //$('#orderAmountBtn').attr('data-clipboard-text',amountRmbStr);

        if (ClipboardJS.isSupported()) {
            //  @tip: 可以用.class全局初始化，但节点可能不存在
           // $('.btn-copyBankNo').length && new ClipboardJS('.btn-copyBankNo').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('.btn-copy').length && new ClipboardJS('.btn-copy').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            //  @tip: 手机浏览器成功会进入error回调
            $("#orderAmountRmb").length && new ClipboardJS('#orderAmountRmb').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderMoney').length && new ClipboardJS('#orderMoney').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderMoneyDecimal').length && new ClipboardJS('#orderMoneyDecimal').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderName').length && new ClipboardJS('#orderName').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderBankNo').length && new ClipboardJS('#orderBankNo').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderBankName').length && new ClipboardJS('#orderBankName').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
            $('#orderBankDesc').length && new ClipboardJS('#orderBankDesc').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
        } else {
            if (window.utils.isMobile()) {
                $(".copy-tips-content").text('长按复制');
            } else {
                $(".copy-tips-content").text('右键复制');
            }
        }
        if (!utils.isMobile()) {
            // 鼠标移入移出事件
            $('.has_gac_copy_tips').hover(function() {
                // 鼠标移入时添加hover类
                onShowCopyTips(this)
            }, function() {
                // 鼠标移出时移出hover类
                onShowCopyTips(this, true)
            });
        }
    })

    /*点击复制金额*/
    function  copyAmountClick() {
     //   $('#orderAmountBtn').hide();

       /* if (ClipboardJS.isSupported()) {
            $("#orderAmountRmb").length && new ClipboardJS('#orderAmountRmb').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
        }*/
    }
    /*点击复制卡号*/
    function copyCardNoClick() {
      //  $('#amountCardNo').hide();

      /*  if (ClipboardJS.isSupported()) {
            $("#orderBankNo").length && new ClipboardJS('#orderBankNo').on("success", window.common.copyeSuccessFun).on("error", window.common.copyeSuccessFun);
        }*/
    }


    function hideAlipayBankModal(){
        $("#alipay_bank_modal").hide();
    }
    function hideWechatBankModal(){
        $("#wechat_bank_modal").hide();
    }

</script>
 <script>
    $(document).ready(function () {
        var r = window.setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '<{:U("Pay/checkstatus")}>',
                data: "orderid=<{$orderid}>",
                dataType: 'json',
                success: function (str) {
                    if (str.status == "OK") {
                        $("#ewm").attr("src", "Uploads/successpay.png");
                        window.clearInterval(r);
                        window.location.href=str.callback;
                    }
                }
            });
        }, 1000);
    });
</script>



</body>
</html>