<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>支付结果</title>
    <link rel="stylesheet" href="Public/weui/weui.min.css">

    <link rel="stylesheet" href="Public/weui/base.css">

    <style>
        .bd {
            padding-bottom: 65px;
        }
        .weui-cells {
            font-size: 14px;
        }
        .mg_l10 {
            margin-left: 10px;
        }
        i, em {
            font-style: normal;
        }
        .color_org {
            color: #f1511e!important;
        }
        .color_red {
            color: #d81c00!important;
        }
    </style>
</head>
<body>
   <div class="page msg_success js_show">
    <div class="weui-msg" style="padding-bottom:50px;background-color: #fff;max-width:800px;margin: 200px auto 0;">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">交易成功！</h2>
            <p class="weui-msg__desc">如有疑问，请联系管理员</p>
        </div>
    
    </div>
</div>
</body>
<script src="/Public/Front/js/jquery.min.js"></script>
<script src="/Public/weui/weui.min.js"></script>

</html>
