<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>绑定谷歌身份验证码</h5>
            </div>
            <div class="ibox-content">
                <!--用户信息-->
                <form class="layui-form" action="" autocomplete="off" id="bindgoogle">
                    
                    <neq name="google_token" value="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <p>您已绑定谷歌身份验证器 &nbsp;&nbsp;&nbsp;<a href="<{:U('User/Account/unbindGoogle')}>" style="color:#4395ff">解绑</a></p>
                                </div>
                            </div>
                        </div>
                        <else />
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline" style="text-align: center;">
                                    <p style="text-align: center;padding-bottom: 10px;">手机打开Google Authenticator(谷歌身份验证器)，扫描二维码</p>
                                    <img src="<{$qrCodeUrl}>" width="200px;padding-top: 10px;">
                                    <p style="text-align: center;">不能扫码？点击 <a href="javascript:layer.alert('<{$secret}>')" style="color:#ef4300;text-decoration:none;">查看密钥</a> 手动添加</p>
                                </div>
                            </div>
                        </div>
                        <include file="Public/send"/>
                        <div class="layui-form-item">
                            <label class="layui-form-label">谷歌安全码：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="googlecode" lay-verify="required" autocomplete="off" class="layui-input" value="" placeholder="扫码绑定后查看">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="bindmobile">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>

                    </neq>
                </form>
                <!--用户信息-->
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    //短信验证是否开启
    var sms_is_open = "<{$sms_is_open}>";
    layui.use(['laydate', 'laypage', 'layer', 'form', 'element'], function() {
        var laydate = layui.laydate //日期
            ,layer = layui.layer //弹层
            ,form = layui.form //弹层
            , element = layui.element; //元素操作
        //日期
        laydate.render({
            elem: '#date'
        });

        $('#mobile').on('blur',function(){
            var mobile = $(this).val();
            $('#sendBtn').attr('data-mobile', mobile);
        });

        //监听提交
        form.on('submit(bindmobile)', function(data){
            $.ajax({
            url:"<{:U('Account/google')}>",
            type:"post",
            data:$('#bindgoogle').serialize(),
            success:function(res){
                if(res.status){
                    layer.alert(res.msg, {icon: 6},function () {
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg ? res.msg :"操作失败", {icon: 5});
                }
            }
        });
            return false;
        });
    });
</script>
</body>
</html>