<header class="header" style="border-bottom: 1px solid #e4e4e4;">
    <div class="special-header clearfix">
        <a href="" class="alipay-logo"><img src="/logo1.png"/>  </a>
        <ul class="menu-list fn-right nav navbar-nav">
            <li>
                <a class="index" href="index.html" title="首页">首页</a>
            </li>
            <li>
                <a class="transfer" href="<{$demo}>">SDK下载</a>
            </li>
            <li>
                <a class="transfer" href="<{$faq}>">常见问题</a>
            </li>
            <li>
                <a class="lifeservice" href="<{$safe}>">安全无忧</a>
            </li>
            <li>
                <a class="transfer" href="<{$contact}>">联系我们</a>
            </li>
            <li style="margin-left:-3px;"></li>
            <li class="enterprise" style="margin-left:-5px;">
                <a href="<{$user_login}>">登录</a><span class="fenge">|</span> <a href="<{$agent_login}>">代理登录</a> <span class="fenge">|</span> <a href="<{$register}>">注册</a>
            </li>
        </ul>
    </div>
</header>