<include file="Public/header" />
<div class="row">
    <div class="col-md-12">
        <div class="layui-form-item">
            版权信息
        </div>

        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
             
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>作者</th>
                    <th>联系QQ</th>
                    <th>程序最后更新时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>qq0000000</td>
                    <td>0000000</td>
                    <td>2018年10月30日</td>
                </tr>
             
                </tbody>
            </table>
        </div>
    </div>
</div>
<include file="Publid/footer" />
</body>
</html>