<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理代理分类</h5>
                <div class="row">
                    <div class="col-sm-2 pull-right">
                        <a href="javascript:;" class="layui-btn layui-btn-small"
                           onclick="admin_add('添加代理分类','<{:U('User/addAgentCate')}>',540,440)">添加用户等级</a>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <!--管理员列表-->
                <div class="layui-field-box">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>代理分类名称</th>
                        <th>排序</th>
                        <th>备注</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="v">
                        <tr>
                            <td><{$v.id}></td>
                            <td><{$v.cate_name}></td>
                            <td><{$v.sort}></td>
                            <td><{$v.desc}></td>
                            <td>
                                <{$v.ctime|date='Y-m-d H:i:s',###}>
                            </td>
                            <td>

                                <a onclick="admin_edit('编辑代理分类','<{:U('User/editAgentCate',['id'=>$v[id]])}>',540,440)"
                                   class="layui-btn layui-btn-mini layui-btn-normal"><i class="layui-icon">&#xe642;</i>编辑</a>
                                <a onclick="admin_del(this,'<{$v[id]}>')" class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i>删除</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <{$page}>
            </div>
                <!--管理员列表-->
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['laypage','layer','form'], function() {
        var laypage = layui.laypage,
            $ = layui.jquery;
    });

    /*管理员-添加*/
    function admin_add(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }
    /*管理员-编辑*/
    function admin_edit(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }
    /*管理员-删除*/
    function admin_del(obj,id) {
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"<{:U('User/deleteAgentCate')}>",
                type:'post',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }
    function admin_show(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
</script>
</body>
</html>