<div class="tongdaoleft" style="width: 40%; float: left;">
<volist name="tongdaolist" id="vo">
	<button type="button" class="btn btn-default btn-lg" style="margin-left: 10px; margin-top: 10px; width: 90%;" id="<{$vo["en_payname"]}>" disabled="disabled"><{$vo["zh_payname"]}> <span></span>
	</button>
	
</volist>
</div>
<div class="tongdaoright" style="width: 60%; float: left;">
	<volist name="tongdaolist" id="vo">
		
	<select name="" style="margin-left: 10px; margin-top: 12px; width: 90%; font-size: 30px; color: #f00;" id="<{$vo["en_payname"]}><{$vo["id"]}>" onchange="javascript:editdefaultpayapiuser(this,<{$vo["id"]}>)" ajaxurl="<{:U("User/editdefaultpayapiuser")}>">
		<option value="" style="color:#0D4C9A;">请选择<{$vo["zh_payname"]}>账号</option>
		<{:payapiaccount($vo['id'])}>
	</select>
	
	</volist>
</div>
<div style="clear: left;"></div>
<input type="hidden" id="tongdaouserid" ajaxurl="<{:U("User/edittongdao")}>">