<include file="Public/header"/>
        <div class="row">
            <div class="col-sm-12">
			<form class="layui-form" action="" id="form" autocomplete="off" >
        <input type="hidden" name="orderid" value="<{$order.id}>">
				<input type="hidden" name="type" value="<{$type}>">
			  <div class="layui-form-item">
				<label class="layui-form-label">订单号：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" value="<{$order.pay_orderid}>" readonly>
				</div>
			  </div>
				<div class="layui-form-item">
					<label class="layui-form-label">订单金额：</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" value="<{$order.pay_amount}>" readonly>
					</div>
				</div>
				<if condition="$verifyGoogle and $verifysms">
				<div class="layui-form-item" id="df_auto_check">
					<label class="layui-form-label">验证方式：</label>
					<div class="layui-input-block">
						<input type="radio" name="auth_type" lay-filter="auth_type" value="1" title="谷歌安全码" checked>
						<input type="radio" name="auth_type" lay-filter="auth_type" value="0" title="短信验证码">
					</div>
				</div>
					<else />
					<input type="hidden" name="auth_type" value="<{$auth_type}>">
				</if>
				<eq name="verifyGoogle" value="1">
				<div class="layui-form-item" id="auth_google">
					<label class="layui-form-label">谷歌安全码：</label>
					<div class="layui-input-inline">
						<input type="text" name="google_code" autocomplete="off"
							   placeholder="请输入谷歌安全码" class="layui-input" value="">
					</div>
				</div>
				</eq>
				<eq name="verifysms" value="0">
					<div class="layui-form-item" id="auth_sms" <if condition="$verifyGoogle and $verifysms">style="display: none"</if>>
					<label class="layui-form-label">手机验证码：</label>
					<div class="layui-input-inline">
						<input type="text" name="code"  autocomplete="off"
							   placeholder="请输入短信验证码" class="layui-input" value="">
					</div>
					<div class="layui-input-inline">
						<a href="javascript:;" id="sendBtn" data-mobile="<{$mobile}>" class="layui-btn">发送验证码</a>
					</div>
				</div>
				</eq>
			<div class="layui-form-item">
				<div class="layui-input-block">
				  	<button class="layui-btn" lay-submit="submit" lay-filter="save">确定</button>
				</div>
			</div>
			</form>
            </div>
        </div>
<include file="Public/footer"/>
<script src="/Public/Front/js/Util.js" charset="utf-8"></script>
<script>
var issubmit=false;
layui.use(['layer', 'form','laydate'], function(){
  var form = layui.form
  ,laydate = layui.laydate
  ,layer = layui.layer;

    //常规用法
    laydate.render({
        elem: '#createtime',
		type: 'datetime',
        theme: 'molv',
        range: '|'
    });
  //监听提交
  form.on('submit(save)', function(data){
      layer.confirm('确认要将订单【<{$order.pay_orderid}>】设置为已支付吗？该操作不可恢复，请谨慎操作！',{
          btn: ['确定','取消'] //按钮
      }, function(){
          $.ajax({
              url:"<{:U('Order/setOrderPaid')}>",
              type:"post",
              data:$('#form').serialize(),
              success:function(res){
                  if(res.status){
                      layer.alert(res.msg? res.msg :"设置成功！", {icon: 6},function () {
                          parent.location.reload();
                          var index = parent.layer.getFrameIndex(window.name);
                          parent.layer.close(index);
                      });
                  }else{
                      layer.alert(res.msg, {icon: 5},function (index) {
                          layer.close(index)
                      });
                  }
              }
          });
      }, function(){
      });
   	 return false;
  });
    form.on('radio(auth_type)',function(data){
        if(data.value == 1) {
            $('#auth_google').show();
            $('#auth_sms').hide();
        } else {
            $('#auth_google').hide();
            $('#auth_sms').show();
        }
    });
});
</script>
<script>
    $(function (){
        var sendUrl = "<{$sendUrl}>";
        // 手机验证码发送
        $('#sendBtn').click(function(){
            var mobile = $(this).data('mobile');
            if(mobile == '') {
                layer.alert('请先绑定手机号码',{icon: 5}, function() {
                    location.href = "<{:U('System/bindMobileShow')}>";
                });
                return;
			}
            sendSms(this, mobile, sendUrl);
        });
    })
</script>
</body>
</html>
