<div class="menu_div">
   <a href="#" class="list-group-item text-center active" style="background-image:url(/Public/User/images/bg.jpg); border:1px solid #262626;">
    <strong>账户管理</strong>
  </a>
  <a href="<{:U("Account/basicinfo")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>基本信息</strong></a>
  <a href="<{:U("Account/bankcard")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>银行卡</strong></a>
  <a href="<{:U("Account/verifyinfo")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>认证信息</strong></a>
  <a href="<{:U("Account/loginpassword")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>登录密码</strong></a>
  <a href="<{:U("Account/paypassword")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>支付密码</strong></a>
  <a href="<{:U("Account/loginrecord","r=10")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>登录记录</strong></a>
  <a href="<{:U("Account/zjbdjl","r=15")}>" class="list-group-item text-center" target="ManagesContentIfram"><strong>资金变动记录</strong></a>
</div>