<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <!--条件查询-->
            <div class="ibox-title">
                <h5>对账单</h5>
                <div class="ibox-tools">
                    <i class="layui-icon" onclick="location.replace(location.href);" title="刷新"
                       style="cursor:pointer;">ဂ</i>
                </div>
            </div>
            <!--条件查询-->
            <div class="ibox-content">
                <form class="layui-form" action="" method="get" autocomplete="off" id="orderform">
                    <input type="hidden" name="m" value="User">
                    <input type="hidden" name="c" value="Account">
                    <input type="hidden" name="a" value="reconciliation">
                    <input type="hidden" name="p" value="1">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="date" id="date" placeholder="日期"  value="<{$date}>">
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn"><span
                                    class="glyphicon glyphicon-search"></span> 搜索
                            </button>
                        </div>
                    </div>
                </form>
                <!--交易列表-->
                <table class="layui-table" lay-data="{width:'100%',id:'userData'}">
                    <thead>
                    <tr>
                        <th lay-data="{field:'date',width:120}">日期</th>
                        <th lay-data="{field:'order_total_count', width:200,style:'color:#060;'}">总订单数</th>
                        <th lay-data="{field:'order_success_count', width:200,style:'color:#060;'}">成功订单数</th>
                        <th lay-data="{field:'order_fail_count', width:200}">未支付订单数</th>
                        <th lay-data="{field:'order_total_amount', width:200}">订单总额</th>
                        <th lay-data="{field:'order_success_amount', width:200}">订单实付总额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td><{$vo.date}></td>
                            <td style="text-align:center; color:#090;"><{$vo.order_total_count}></td>
                            <td style="text-align:center;"><{$vo.order_success_count}></td>
                            <td style="text-align:center;"><{$vo.order_fail_count}></td>
                            <td style="text-align:center;"><{$vo.order_total_amount}></td>
                            <td style="text-align:center;"><{$vo.order_success_amount}></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <!--交易列表-->
               <div class="page">

                    <form class="layui-form" action="" method="get" id="pageForm" autocomplete="off">     
                        <{$page}>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,form = layui.form //表单
            , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#date'
            , type: 'date'
            ,theme: 'molv'
            , min:"<{$time}>"
            , max: "{:date('Y-m-d')}",

        });
    });
    $('#pageList').change(function(){
        $('#pageForm').submit();
    });
</script>
</body>
</html>